n8n-workflows/2- Agente de Agendamento _ Brandão Barbearia.json
{
  "name": "2- Agente de Agendamento | Brandão Barbearia",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51bd4896-17e9-484b-b08a-b6854225ccb3",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        -16
      ],
      "id": "05d90109-847a-4ac9-aab1-10291c5a344f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -96,
        304
      ],
      "id": "856be227-aa7f-4dcb-b1bd-a803b76c2cc0",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "r70MiujuVPnGBOSn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 600,
        "width": 1580,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -432,
        -112
      ],
      "typeVersion": 1,
      "id": "0e0657b0-1065-453e-91b6-b80a81617fb2",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Agenda\n### Profissionais Disponíveis",
        "height": 240,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        224
      ],
      "typeVersion": 1,
      "id": "7112b246-abf5-4b6c-9372-a503d3771315",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3058e999-b1bf-43f3-b95c-bf1d71157c51",
              "name": "Duvida",
              "value": "={{ $('When Executed by Another Workflow').item.json.duvida }}",
              "type": "string"
            },
            {
              "id": "c6e2e733-5bb4-4b3d-9a79-cf43a9e56458",
              "name": "identificadorLead",
              "value": "={{ $('When Executed by Another Workflow').item.json['Identificador Lead'] }}",
              "type": "string"
            },
            {
              "id": "9181a250-f2ad-402e-8bed-2bc4ec9720e6",
              "name": "servico",
              "value": "={{ $('When Executed by Another Workflow').item.json.servico }}",
              "type": "string"
            },
            {
              "id": "2063178c-5134-49ce-9d86-c3a4d1f4f23d",
              "name": "Profissional",
              "value": "={{ $('When Executed by Another Workflow').item.json.Profissional }}",
              "type": "string"
            },
            {
              "id": "2986dc61-de65-440b-846c-d36b4d60d75b",
              "name": "resultado",
              "value": "={{ $json.resultado }}",
              "type": "string"
            },
            {
              "id": "1e3d6c2e-8f93-4b4d-b604-f5f8064fde02",
              "name": "nomeCliente",
              "value": "={{ $('When Executed by Another Workflow').item.json.nomeCliente }}",
              "type": "string"
            },
            {
              "id": "9c5e6984-6737-4d36-adf2-3c4bc5ab0a09",
              "name": "protocolo",
              "value": "={{ $('When Executed by Another Workflow').item.json.protocolo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -16
      ],
      "id": "6bef589d-d7bf-40ab-9912-39a923005ba1",
      "name": "setarInfo3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Duvida }}\n\n{{ $json.nomeCliente }}\n{{ $json.servico }}\n{{ $json.Profissional }}",
        "options": {
          "systemMessage": "=## IDENTIDADE\n\nVocê é um **agente interno** responsável exclusivamente por gerenciar os agendamentos da **Brandão Barbearia**.  \nSeu papel é auxiliar no controle das agendas dos profissionais **Pedro Brandão** e **Juan Alves**, garantindo que os horários estejam corretos e dentro da  disponibilidade informada.\n\n## SUA FUNÇÃO\n\n-   Verificar **disponibilidade de datas e horários** nas `tools`: **horarios e datas_especiais**.\n  - domingo é **fechado**.\n-   **Agendar, remarcar, cancelar ou verificar disponibilidade de data/horário** atendimentos conforme solicitado.\n-   Validar os **pré-requisitos obrigatórios** antes de confirmar qualquer agendamento: **nome completo**, **data/hora** e **serviço escolhido**.\n-   Sempre que o cliente **informar o nome do barbeiro**, o agendamento deve ser feito na **tool correspondente**:\n    -   Pedro Brandão → `pedroTool`\n    -   Juan Alves → `juanTool` \n-   Caso o cliente **não informe preferência de barbeiro**, acione **somente uma tool de um barbeiro** especifico e faça o agendamento.\n\n## DIAS E HORÁRIOS DISPONÍVEIS\n\n-   Os atendimentos da **Brandão Barbearia** ocorrem nos seguintes dias e horários disponíveis nas tools: **horarios e datas_especiais**.\n-   Cada serviço tem duração específica, consulte a tool: 'serviTool', na coluna **Duração** para consultar o tempo em **minutos**.\n-   Se o cliente escolher **mais de um serviço**, o tempo total será calculado somando o tempo de cada serviços.\n-   Os agendamentos devem sempre respeitar a **ordem e disponibilidade real** de cada profissional.\n\n## TOOLS DISPONÍVEIS\n\n### 1. Tool: `pedroTool`\n\n**Quando usar:**\n-   Sempre que o cliente desejar atendimento com **Pedro Brandão**.\n-   Sempre que o cliente desejar **Cancelar** ou **reagendar** um atendimento com Pedro Brandão\n-   Ou quando **não houver preferência** e Pedro Brandão estiver disponível.\n\n**Quando não usar:**\n-   Se o cliente tiver solicitado atendimento com outro profissional (Juan Alves).\n\n### 2. Tool: `juanTool`\n\n**Quando usar:**\n-   Sempre que o cliente desejar atendimento com **Juan Alves**.\n-   Sempre que o cliente desejar **Cancelar** ou **reagendar** um atendimento com Juan Alves\n-   Ou quando **não houver preferência** e Juan ALves estiver disponível.\n\n**Quando não usar:**\n-   Se o cliente tiver solicitado atendimento com outro profissional (Pedro Brandão).\n\n## REGRAS GERAIS\n\n-   Sempre confirme se o cliente informou **nome completo**, **data**, **hora** e **serviço desejado** antes de efetuar o agendamento.\n-   **Nunca** acione a tool de agendamento sem ter essas informações.\n-   Caso o cliente **não mencione o barbeiro**, escolha **uma das duas tools** disponíveis e faça o agendamento.\n-   Nunca faça o mesmo agendamento nas duas tools dos barbeiros.   \n-   Mencione sempre o **dia da semana** junto com a **data e hora** no formato:\n    - “Sexta-feira, dia 22/11, às 15h.”\n\n-   **Não inclua o ano** em nenhuma data.\n-   Se o cliente quiser saber horários livres, apresente **no máximo três opções**.\n-   Todos os atendimentos devem respeitar o horário de funcionamento disponível na tool: horarios.\n  - domingo é **fechado**.\n-   Nenhum pagamento ou sinal é exigido para confirmar o agendamento.\n\n## DATA E HORA ATUALIZADOS\n\nUse estas informações como contexto de data e hora nas conversas:  \n{{ $json.resultado }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        416,
        -16
      ],
      "id": "cbdd55ec-d421-4431-9c3e-3b9e353ddb19",
      "name": "Agendar"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "duvida"
            },
            {
              "name": "Identificador Lead"
            },
            {
              "name": "Profissional"
            },
            {
              "name": "servico"
            },
            {
              "name": "nomeCliente"
            },
            {
              "name": "protocolo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -352,
        -16
      ],
      "id": "544e84eb-1800-4efd-b40f-56112d4e09a9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const days = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\nconst now = new Date();   // <-- ESTA LINHA ESTAVA FALTANDO\nconst pad = (n) => String(n).padStart(2, '0');\n\nlet result = '';\n\nfor (let i = 1; i <= 10; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  let label = '';\n\n  if (i === 1) {\n    label = `Amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  } else if (i === 2) {\n    label = `Depois de amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  } else {\n    label = `${days[future.getDay()]} será dia ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  }\n\n  result += `${label}\\n`;\n}\n\nreturn [\n  {\n    json: {\n      resultado: result.trim()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -16
      ],
      "id": "7a63fc54-6bca-4bfe-adfd-1473c26b9d7a",
      "name": "proximos_dias"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.identificadorLead }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        96,
        304
      ],
      "id": "4fce64cc-c63f-47e7-9be6-2e75de2e9c8a",
      "name": "Memoria",
      "credentials": {
        "postgres": {
          "id": "fvh8JpKar9C8WLDs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "- Nessa tool, você verifica horario de funcionamento semanal\n- Consulte sempre que quiser informações de **horários de funcionameto.**",
        "documentId": {
          "__rl": true,
          "value": "1afoO870jEQTkBfsgQ_YvRaCHbcDKq9bniJNdMWc2NMs",
          "mode": "list",
          "cachedResultName": "Serviços Barbearia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1afoO870jEQTkBfsgQ_YvRaCHbcDKq9bniJNdMWc2NMs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 168094712,
          "mode": "list",
          "cachedResultName": "horarios",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1afoO870jEQTkBfsgQ_YvRaCHbcDKq9bniJNdMWc2NMs/edit#gid=168094712"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        896,
        320
      ],
      "id": "8f6a0791-2db9-46b9-88c3-8a7bb8419eff",
      "name": "horarios",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7UBQ2xaB2YtkC1Ew",
          "name": "Google Sheets Brandao"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "- Use essa tool para verificar datas especiais de funcionamento, em datas comemorativas ou feriados.\n- Consulte sempre antes de informar algum agendamento",
        "documentId": {
          "__rl": true,
          "value": "1afoO870jEQTkBfsgQ_YvRaCHbcDKq9bniJNdMWc2NMs",
          "mode": "list",
          "cachedResultName": "Serviços Barbearia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1afoO870jEQTkBfsgQ_YvRaCHbcDKq9bniJNdMWc2NMs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 217584611,
          "mode": "list",
          "cachedResultName": "datas_especiais",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1afoO870jEQTkBfsgQ_YvRaCHbcDKq9bniJNdMWc2NMs/edit#gid=217584611"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1008,
        320
      ],
      "id": "92947bfd-06b9-4117-bb33-2f752924ceb1",
      "name": "datas_especiais",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7UBQ2xaB2YtkC1Ew",
          "name": "Google Sheets Brandao"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "- Use essa tool para consultar a duração dos servios",
        "documentId": {
          "__rl": true,
          "value": "1afoO870jEQTkBfsgQ_YvRaCHbcDKq9bniJNdMWc2NMs",
          "mode": "list",
          "cachedResultName": "Serviços Barbearia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1afoO870jEQTkBfsgQ_YvRaCHbcDKq9bniJNdMWc2NMs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Serviços",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1afoO870jEQTkBfsgQ_YvRaCHbcDKq9bniJNdMWc2NMs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        768,
        320
      ],
      "id": "2b28fcf0-593f-47c6-a57f-58b309de2245",
      "name": "serviTool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7UBQ2xaB2YtkC1Ew",
          "name": "Google Sheets Brandao"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WKrxtCvcA7cBz9f2",
          "mode": "id",
          "cachedResultUrl": "/workflow/WKrxtCvcA7cBz9f2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Identificador Lead": "={{ $('setarInfo3').item.json.identificadorLead }}",
            "duvida": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duvida', `Coloque aqui a intenção que o paciente deseja (ver horários, marcar, cancelar ou reagendar). Seja explicativo e se possível sempre coloque o nome do paciente.`, 'string') }}",
            "servico": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servico', `Aqui você deve colocar o serviço que o cliente deseja fazer. Caso ele queira fazer mais de um serviço, coloque o nome de todos.`, 'string') }}",
            "protocolo": "={{ $json.protocolo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "duvida",
              "displayName": "duvida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Identificador Lead",
              "displayName": "Identificador Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "servico",
              "displayName": "servico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "protocolo",
              "displayName": "protocolo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        464,
        320
      ],
      "id": "2171be5c-d869-4c6d-9329-85ebaee64937",
      "name": "pedroTool"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kAb4DYeqYKYXjoym",
          "mode": "id",
          "cachedResultUrl": "/workflow/kAb4DYeqYKYXjoym"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "duvida": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duvida', `Coloque aqui a intenção que o paciente deseja (ver horários, marcar, cancelar ou reagendar). Seja explicativo e se possível sempre coloque o nome do paciente.`, 'string') }}",
            "servico": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('servico', `Aqui você deve colocar o serviço que o cliente deseja fazer. Caso ele queira fazer mais de um serviço, coloque o nome de todos.`, 'string') }}",
            "Identificador Lead": "={{ $json.identificadorLead }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "duvida",
              "displayName": "duvida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Identificador Lead",
              "displayName": "Identificador Lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "servico",
              "displayName": "servico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        624,
        320
      ],
      "id": "c9170259-9a84-4ec5-a0e9-525ad09436fd",
      "name": "juanTool"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "duvida": "Quais são os profissionais da casa?",
          "Identificador Lead": "558796075897",
          "Profissional": "",
          "servico": "",
          "nomeCliente": "",
          "protocolo": null
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Agendar",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo3": {
      "main": [
        [
          {
            "node": "Agendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "proximos_dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "proximos_dias": {
      "main": [
        [
          {
            "node": "setarInfo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memoria": {
      "ai_memory": [
        [
          {
            "node": "Agendar",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "horarios": {
      "ai_tool": [
        [
          {
            "node": "Agendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "datas_especiais": {
      "ai_tool": [
        [
          {
            "node": "Agendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "serviTool": {
      "ai_tool": [
        [
          {
            "node": "Agendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "pedroTool": {
      "ai_tool": [
        [
          {
            "node": "Agendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "juanTool": {
      "ai_tool": [
        [
          {
            "node": "Agendar",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "937c24fa-89e0-4cfc-8431-af62cad50b68",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e8f31c1c3a8c280bb253380614be696f9c911d49488efcd6c433afea74a3f77"
  },
  "id": "m6aq1ylLjDpuMbce",
  "tags": [
    {
      "updatedAt": "2025-11-20T18:43:40.290Z",
      "createdAt": "2025-11-20T18:43:40.290Z",
      "id": "WkFV2xTlQYr0cqJn",
      "name": "Barbearia"
    },
    {
      "updatedAt": "2025-11-21T16:57:40.290Z",
      "createdAt": "2025-11-21T16:57:40.290Z",
      "id": "hLXvNsJzHOlCMeOx",
      "name": "Atendimento"
    },
    {
      "updatedAt": "2025-11-25T01:24:01.035Z",
      "createdAt": "2025-11-25T01:24:01.035Z",
      "id": "CdWdNyqhv7XXdWuN",
      "name": "Brandão"
    }
  ]
}