n8n-workflows/AtendimentoAxio.json
{
  "name": "AtendimentoAxio",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normaliza').item.json.instance.Server_url }}/chat/getBase64FromMediaMessage/{{ $('Normaliza').item.json.instance.Name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Normaliza').item.json.instance.Apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('Normaliza').item.json.message.message_id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ",
        "options": {}
      },
      "id": "c26a49fe-5ff9-4a60-84c0-4fc47abdbb01",
      "name": "Mensagem de Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3728,
        -128
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "audio",
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "id": "aeef38d1-cf05-4015-9253-f20d9812563f",
      "name": "Converter Áudio",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3968,
        -128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f8e1fbf-9134-4b48-be29-066509e021f5",
              "name": "telefone",
              "value": "={{ $('Webhook1').item.json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "a6004904-d9e1-4627-be79-d2a5b073d44f",
              "name": "mensagem",
              "value": "={{ $('Webhook1').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d10c164a-19fd-4faa-ae5a-39d9a5f58c1a",
      "name": "Filta Msg App",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3872,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normaliza').item.json.instance.Server_url }}/chat/getBase64FromMediaMessage/{{ $('Normaliza').item.json.instance.Name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Normaliza').item.json.instance.Apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('Normaliza').item.json.message.message_id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ",
        "options": {}
      },
      "id": "d9d7183a-71fe-480c-9fe7-e20d8dcc000a",
      "name": "Envio de Imagens",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3504,
        272
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "image",
          "mimeType": ""
        }
      },
      "id": "8debabb1-bae7-462d-aac7-e82e7f86233a",
      "name": "Converter Imagem",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3744,
        272
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "c024e65d-8c5b-4cd6-90ea-edb8de66ac06",
      "name": "Extrair Dados",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        4192,
        864
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Normaliza').item.json.instance.Server_url }}/chat/getBase64FromMediaMessage/{{ $('Normaliza').item.json.instance.Name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Normaliza').item.json.instance.Apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"message\": {\n        \"key\": {\n            \"id\":  \"{{ $('Normaliza').item.json.message.message_id }}\"\n        }\n    },\n    \"convertToMp4\": true\n} ",
        "options": {}
      },
      "id": "8272434f-6c9a-45e4-8a92-a75562425886",
      "name": "Envio de Documentos1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3712,
        864
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "fileName": "={{ $json.fileName }}",
          "mimeType": "application/pdf"
        }
      },
      "id": "98497042-dcd7-411b-99a5-fd45f9403a7b",
      "name": "Converter Arquivo1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3904,
        864
      ]
    },
    {
      "parameters": {
        "jsCode": "function limparMensagem(texto) {\n  if (typeof texto !== 'string') {\n    return '';\n  }\n\n  // Função para remover metadados e dados técnicos\n  function removerMetadataTecnico(str) {\n    return str\n      // Remove objetos e chaves de metadados específicos\n      .replace(/\"response_metadata\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"response_metadata\"\n      .replace(/\"additional_kwargs\"\\s*:\\s*{[^}]*}/g, '')  // Remove \"additional_kwargs\"\n      .replace(/\"tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"tool_calls\" vazio\n      .replace(/\"invalid_tool_calls\"\\s*:\\s*\\[\\s*\\]/g, '')  // Remove \"invalid_tool_calls\" vazio\n      .replace(/\"type\"\\s*:\\s*\"(ai|human)\"/g, '')  // Remove os tipos \"ai\" e \"human\"\n      .replace(/\"data\"\\s*:\\s*{[^}]*}/g, '')  // Remove a chave \"data\"\n      // Remove objetos JSON em excesso ou vazios\n      .replace(/,\\s*{[^}]*}/g, '') // Remove objetos soltos\n      .replace(/,\\s*\\[\\s*\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*null/g, '') // Remove valores null\n      .replace(/\\s*:\\s*\\[\\]/g, '') // Remove arrays vazios\n      .replace(/\\s*:\\s*{}/g, '') // Remove objetos vazios\n      // Ajusta espaços desnecessários\n      .replace(/\\s+/g, ' ')\n      .replace(/^\\s+|\\s+$/g, '');  // Remove espaços no início e fim\n  }\n\n  // Função para limpar caracteres especiais\n  function limparCaracteresEspeciais(str) {\n    return str\n      .replace(/\\\\\\\\[rnt]/g, ' ')  // Limpa sequências de escape\n      .replace(/\\\\\\\\\\\"/g, '')  // Remove as aspas escapadas\n      .replace(/\\\\\\\\\\\\\\\\/g, '')  // Remove barras invertidas\n      .replace(/[\\x00-\\x1F\\x7F-\\x9F]/g, '')  // Remove caracteres de controle\n      .replace(/\\\"+/g, '')  // Remove aspas extras\n      .replace(/[{}[\\]]/g, '')  // Remove chaves e colchetes extras\n      .trim();\n  }\n\n  // Função para extrair e limpar a mensagem principal\n  function extrairMensagemPrincipal(str) {\n    // Divide em frases, removendo pontuação extra\n    const frases = str.split(/(?<=[.!?])\\s+/);\n\n    return frases\n      .map(frase => frase.trim())\n      .filter(frase => {\n        // Remove frases que ainda têm metadados ou são irrelevantes\n        return frase.length > 0 &&\n          !frase.includes('tool_calls') &&\n          !frase.includes('invalid_tool_calls') &&\n          !frase.match(/^[:\\s\\[\\]{}]+$/);\n      })\n      .join(' ');\n  }\n\n  // Processo de limpeza e extração\n  let resultado = texto;\n\n  // Passo 1: Remove metadados e chaves indesejadas\n  resultado = removerMetadataTecnico(resultado);\n\n  // Passo 2: Extrai a mensagem relevante, ignorando o que não é necessário\n  resultado = extrairMensagemPrincipal(resultado);\n\n  // Passo 3: Remove caracteres especiais e formatação indesejada\n  resultado = limparCaracteresEspeciais(resultado);\n\n  // Limpeza final para remover espaços extras\n  resultado = resultado\n    .replace(/\\s+/g, ' ')\n    .replace(/^[\\\",\\s]+|[\\\",\\s]+$/g, '')\n    .trim();\n\n  return resultado;\n}\n\nfunction processarMensagens(items) {\n  return items.map(item => {\n    try {\n      if (!item?.json?.mensagem) {\n        return item;\n      }\n\n      let mensagem = item.json.mensagem;\n\n      // Se for objeto, converte para string\n      if (typeof mensagem === 'object') {\n        try {\n          mensagem = JSON.stringify(mensagem);\n        } catch (e) {\n          console.error('Erro ao converter objeto para string:', e);\n          return item;\n        }\n      }\n\n      // Aplica a limpeza\n      const mensagemLimpa = limparMensagem(mensagem);\n\n      // Atualiza apenas se houver conteúdo significativo\n      if (mensagemLimpa && mensagemLimpa.length > 0) {\n        item.json.mensagem = mensagemLimpa;\n      }\n\n      return { json: item.json };\n    } catch (error) {\n      console.error('Erro ao processar item:', error);\n      return item;\n    }\n  });\n}\n\n// Execução principal\ntry {\n  const items = $input.all();\n  return processarMensagens(items);\n} catch (error) {\n  console.error('Erro na execução:', error);\n  throw error;\n}\n"
      },
      "id": "90a348a3-8f39-4743-a85a-8d6509354298",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6192,
        208
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "2f448a4a-7fea-4134-98d8-b8c467fe3550",
      "name": "OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        4288,
        -128
      ],
      "credentials": {
        "openAiApi": {
          "id": "r70MiujuVPnGBOSn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "Descreva essa imagem, oque tem nela?",
        "inputType": "base64",
        "options": {}
      },
      "id": "3eaf522f-d3d3-4365-8c96-b926c60ee779",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        3920,
        272
      ],
      "credentials": {
        "openAiApi": {
          "id": "r70MiujuVPnGBOSn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "block",
        "key": "={{ $json.message.chat_id }}_timeout",
        "options": {}
      },
      "id": "f2a28eb8-c842-4cb7-83fe-bdcfed55cce1",
      "name": "Get Block Chat Id",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2080,
        336
      ],
      "credentials": {
        "redis": {
          "id": "inXbGLEpF0Qf8qMc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ !$json.block }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "3954b886-a839-4a7c-b4f7-32b8532227cf"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA PODE RESPONDER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3ef0e01c-cc14-4663-bb4d-2905b350c3ab",
                    "leftValue": "={{ $json.block }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IA NAO PODE RESPONDER"
            }
          ]
        },
        "options": {}
      },
      "id": "55ed05ed-348c-41ed-9242-f4410ee3504c",
      "name": "Switch Block",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2400,
        32
      ]
    },
    {
      "parameters": {},
      "id": "77a193a7-daf2-49c8-ba07-ce895cf43905",
      "name": "No Operation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2704,
        224
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "101c3ff7-e997-43bb-8e99-fe82746c5993",
                    "leftValue": "={{ $('Webhook1').item.json.body.data.message.audioMessage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "38226af4-80fe-4155-9ceb-2379f44e29ed",
                    "leftValue": "={{ $('Webhook1').item.json.body.data.message.imageMessage }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imageMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "300366d9-2416-4cf4-93c3-e48c8761c60f",
                    "leftValue": "={{ $('Normaliza').item.json.message.content }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "conversation "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "f33566fd-3eb9-45f4-934a-3a39e2adca6c",
                    "leftValue": "={{ $('Webhook1').item.json.body.data.messageType === 'documentMessage' }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "documentMessage"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "3da36a02-eced-4fed-a7f8-a9f18c60c764",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3136,
        16
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages }}",
        "options": {
          "systemMessage": "=## IDENTIDADE\nVocê é **AXIO**, o Assistente Inteligente da empresa **Axio Automação**, especialista em automação de atendimento, captação de clientes e otimização de processos para negócios.\n\nVocê atende com **naturalidade, clareza e autoridade**, como um consultor experiente — **nunca** como um robô simples.\n\nA data atual é:  \n{{ $now.setZone(\"America/Fortaleza\").toFormat(\"dd/MM/yyyy\") }}  \n({{ $now.setZone(\"America/Fortaleza\").toFormat(\"cccc\", { locale: 'pt-BR' }) }})\n\n## MENSAGEM INICIAL\n_(usar sempre ao iniciar conversa)_\n\nOlá, {{ $('Normaliza').item.json.client_name }}! 👋  \nSou o assistente inteligente da **Axio**. Estou aqui para te ajudar a entender como a automação pode transformar seu negócio.  \nComo posso te ajudar hoje?\n\n## CLASSIFICAÇÃO DE INTENÇÕES\nClassifique a mensagem do cliente em **UMA** das intenções abaixo:\n-   **agendar** → quer reunião, demonstração, conversa com especialista    \n-   **preco** → pergunta valores, mensalidades, investimento    \n-   **explicacao** → quer entender como funciona    \n-   **servico** → pergunta o que a Axio oferece    \n-   **tecnica** → pergunta se dá pra automatizar algo, integração, viabilidade    \n-   **suporte** → problemas, erros ou dúvidas técnicas    \n-   **material** → solicita materiais, portfólio, apresentação, PDF, cases    \n-   **generica** → qualquer outro caso    \n\n### Regras de classificação\n-   Marcar horário, reunião, ligação → **agendar**    \n-   Preço, valor, quanto custa → **preco**    \n-   “Como funciona”, “o que é” → **explicacao**    \n-   “O que vocês fazem”, serviços → **servico**    \n-   Automatizar algo específico → **tecnica**    \n-   Relatar erro ou problema → **suporte**   \n-   Pedir PDF, apresentação, material → **material**    \n-   Caso contrário → **generica**\n\n## INTENÇÕES DE ENVIO (OBRIGATÓRIO)\nQuando identificar necessidade de envio de conteúdo, você deve escolher **EXATAMENTE UMA** das intenções abaixo:\n-   **documento** → apresentação, PDF, portfólio, material institucional    \n-   **material** → sinônimo de documento (pedido genérico)    \n-   **video** → demonstração ou explicação em vídeo    \n-   **imagem** → telas, exemplos visuais, interface do sistema    \n\n⚠️ Retorne **apenas UMA intenção**  \n⚠️ Nunca combine intenções  \n⚠️ Nunca explique detalhes técnicos do envio\n\nEssas intenções serão utilizadas por um **Switch técnico** no fluxo.\n\n## USO DE FERRAMENTAS (OBRIGATÓRIO)\nQuando a intenção envolver envio de conteúdo:\nVocê deve:\n-   Gerar **apenas a resposta textual** ao cliente    \n-   Acionar a **tool `envios`**, que está **conectada diretamente a você**, responsável por:    \n    -   Enviar o conteúdo conforme a intenção (`documento`, `material`, `video` ou `imagem`)        \n    -   Registrar automaticamente os dados do lead no **Google Sheets**\n        \nNunca:\n-   Enviar links ou anexos no texto    \n-   Simular envio de arquivos    \n-   Explicar o funcionamento técnico    \n-   Executar lógica no texto    \n\n## FORMATO PADRÃO PARA SITE E INSTAGRAM\n\nQuando for apropriado enviar o site ou o Instagram da Axio, utilize SEMPRE o formato abaixo, sem alterações:\n\nSim! Você pode conhecer melhor a Axio por aqui 👇  \n\n🌐 Site  \nhttps://www.axiodev.cloud  \n\n📸 Instagram  \nhttps://instagram.com/axio.vm  \n\nSe fizer sentido, posso te explicar tudo numa conversa rápida também.\n\nRegras:\n- Não altere a ordem\n- Não acrescente outros links\n- Não use esse bloco durante envio de materiais\n- Utilize apenas em intenções como `servico`, `explicacao` ou `generica`\n \n\n## ESTILO DE RESPOSTA\n-   Responda em **até 3–4 linhas**    \n-   Tom **profissional, seguro e direto**    \n-   Seja consultivo, não insistente    \n-   Use **no máximo 1 emoji**, apenas se fizer sentido    \n-   Conduza sempre para o **próximo passo** (principalmente agendamento)    \n\n\n## GESTÃO DE EXPECTATIVAS (ESSENCIAL)\nQuando o cliente perguntar sobre automações específicas:\nVocê deve:\n-   Demonstrar abertura    \n-   Informar que é necessária análise técnica    \n-   Direcionar para agendamento    \n\nNunca diga:\n-   “Fazemos sim, é tranquilo”    \n-   “Custa mais ou menos X”    \n-   “Dá pra fazer em X dias”    \n\nUse:\n-   “Precisamos analisar seu caso específico”    \n-   “Cada cenário tem requisitos diferentes”    \n-   “Te explico melhor numa conversa rápida”    \n\n\n## RESPOSTAS POR INTENÇÃO\n### AGENDAR\nPerfeito! Vamos marcar uma conversa rápida pra entender seu cenário e te mostrar como a automação pode ajudar. Qual dia e turno ficam melhores pra você? 📅  \n_(Caso o cliente peça manhã, informe que só há disponibilidade à tarde.)_\n\n### PRECO\nA Axio trabalha com mensalidades a partir de **R$ 150 por profissional**, além de uma implantação personalizada conforme a necessidade do negócio.  \nTe passo um valor exato numa conversa rápida — podemos marcar?\n\n### EXPLICACAO\nA Axio automatiza atendimentos, captação de clientes e processos repetitivos usando IA, reduzindo trabalho manual e aumentando vendas.  \nSe quiser conhecer melhor, você pode visitar nosso site **[www.axiodev.cloud](http://www.axiodev.cloud)**.\n\n### SERVICO\nA Axio cria automações inteligentes sob medida: atendimento automático, captação de leads, agenda inteligente e integrações com APIs.  \nNo nosso Instagram **@axio.vm** também mostramos exemplos práticos do dia a dia.\n\n### TECNICA\nPossivelmente é viável, sim! Mas cada automação depende de requisitos técnicos específicos.  \nVamos marcar alguns minutos pra eu entender seu caso e te dar um direcionamento preciso? 🔍\n\n### SUPORTE\nClaro! Me detalha o problema que você está enfrentando e eu te ajudo a resolver.\n\n### MATERIAL\nClaro! Vou te enviar agora nosso material sobre a Axio 📄  \nDá uma olhada com calma e depois me conta: faz sentido marcarmos uma conversa rápida pra eu te explicar como isso se aplica ao seu negócio?\n\nApós gerar essa resposta:\n-   Acione a **tool `envios`**    \n-   Informe a intenção de envio: **`documento` ou `material`**    \n-   Garanta o registro do lead no **Google Sheets**    \n\n### GENERICA\nEntendi! Me explica um pouco melhor o que você precisa e eu te direciono da melhor forma. 😊\n\n## FORMATO DE SAÍDA\nRetorne **somente o texto final da resposta ao cliente**.  \nNão retorne JSON, listas, explicações internas ou instruções técnicas."
        }
      },
      "id": "9157dda1-23f9-478a-be23-0d1a54b2b799",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        6656,
        -144
      ],
      "notesInFlow": false
    },
    {
      "parameters": {
        "content": "## Buffer \n",
        "height": 1564,
        "width": 1399,
        "color": 6
      },
      "id": "c66a0b27-52ec-44f0-8641-6e9cd40f4e13",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4992,
        -304
      ]
    },
    {
      "parameters": {
        "content": "## Intervenção Humana - Timeout",
        "height": 1556,
        "width": 2099,
        "color": 6
      },
      "id": "6a84ae0d-45a9-4c84-a033-c21c8194aba8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        784,
        -304
      ]
    },
    {
      "parameters": {
        "content": "## Controlador de entrada",
        "height": 1560,
        "width": 1999,
        "color": 7
      },
      "id": "d368a278-2ac9-438f-b429-780deeb60611",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2944,
        -304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.event }}",
                    "rightValue": "outcoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "outcoming"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d7b42536-638f-4128-b51b-6aa913e9d9bc",
                    "leftValue": "={{ $json.message.event }}",
                    "rightValue": "incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "incoming"
            }
          ]
        },
        "options": {}
      },
      "id": "2a73290f-da44-4a3a-ac7e-605930f78b64",
      "name": "Origem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.message.chat_id }}_timeout",
        "value": "true",
        "keyType": "string",
        "expire": true,
        "ttl": 900
      },
      "id": "33aa26ae-b8ed-4323-bc58-a5d7d3c6201c",
      "name": "Gera Timeout",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2080,
        -144
      ],
      "credentials": {
        "redis": {
          "id": "inXbGLEpF0Qf8qMc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Autenticação Evolution Automática:\n- Para tanto, é necessário apenas:\n1. Certificar-se de que seu WhatsApp está devidamente conectado à Evolution\n2. Utilizar a URL correta na conexão da Evolution com o n8n\n## Atente-se a conexão com o ElevenLabs:\n\n- Para o EllevenLabs funcionar preencha o campo apiKey_eleven dentro do node de Normaliza, da maneira devida",
        "height": 660,
        "width": 280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1232,
        -208
      ],
      "id": "7751b9c4-606d-4434-b0a0-39829ca47a8e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Tempo de Timeout\n- Você pode alterar o tempo em métricas TTL para melhor personalização do tempo de timeout\n- Utilize o site abaixo para saber em minutos quanto vale um determinado valor TTL:\n  - https://ttl-calc.com/",
        "height": 440,
        "width": 260,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        -208
      ],
      "id": "f44db5e2-e63c-41e2-967f-96839e7392e4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## LLM **Cérebro**\nMemória Flash\nFerramentas",
        "height": 1148,
        "width": 228,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6592,
        48
      ],
      "id": "9e699528-90eb-4591-a8a7-4ae04b8cde06",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Extração de Texto\n**Não lê imagem mas torna mais barato o uso de tokens**\n\n",
        "height": 280,
        "width": 300,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4096,
        768
      ],
      "id": "994740f6-7314-409d-ac6f-771a304b8266",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "AxioAtendimento",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "ad5c38ed-1491-425a-a44c-82b72353f896",
      "name": "Webhook1",
      "webhookId": "5eb8eec2-2b4b-4db4-bcd2-4349a6e363a9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f2922a9-48b3-4c89-b64b-c38bb8b6d6c0",
              "name": "Mídia_Tratada",
              "value": "={{ $json.mensagem }}{{ $json.text }}{{ $json.content }}",
              "type": "string"
            },
            {
              "id": "f63d6095-aa42-4c65-96e7-8a2b4fd21d4b",
              "name": "message_Id",
              "value": "={{ $('Normaliza').item.json.message.message_id }}",
              "type": "string"
            },
            {
              "id": "1772262e-3e2d-4f1c-8a49-eb7e9a3240e6",
              "name": "Timetamp",
              "value": "={{ $('Normaliza').item.json.message.Timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4720,
        864
      ],
      "id": "971fa60d-e213-4b3f-a039-22021d29347e",
      "name": "Organiza Texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4493d611-a160-4ff7-b99d-a1bbe9c1580f",
              "name": "message.message_id",
              "value": "={{ $('Webhook1').item.json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "49efffcf-df6e-42e2-a7a2-dc77aa3a8e44",
              "name": "message.chat_id",
              "value": "={{ $('tratamento').item.json.message.chat_id }}",
              "type": "string"
            },
            {
              "id": "c2de024f-c074-40c5-b0af-26ccd5b8498a",
              "name": "message.content_type",
              "value": "={{ $('Webhook1').item.json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $('Webhook1').item.json.body.data.message.conversation ? 'text' : '' }}{{ $('Webhook1').item.json.body.data.message.audioMessage ? 'audio' : '' }}{{ $('Webhook1').item.json.body.data.message.imageMessage ? 'image' : '' }}",
              "type": "string"
            },
            {
              "id": "71776ffb-4208-496c-a43c-81641dd9a063",
              "name": "message.content",
              "value": "={{ $('Webhook1').item.json.body.data.message.extendedTextMessage?.text || '' }}{{ $('Webhook1').item.json.body.data.message.imageMessage?.caption || '' }}{{ $('Webhook1').item.json.body.data.message.conversation || '' }}",
              "type": "string"
            },
            {
              "id": "59ac8819-fcec-4f11-bfbb-c64ddc2b5dc5",
              "name": "=message.Timestamp",
              "value": "={{ $('Webhook1').item.json.body.data.messageTimestamp.toDateTime('s').toISO() }}",
              "type": "string"
            },
            {
              "id": "a8164c9b-f189-4c97-9fb4-828eb36175c3",
              "name": "message.Content_URL",
              "value": "={{ $('Webhook1').item.json.body.data.message.audioMessage?.url || '' }}{{ $('Webhook1').item.json.body.data.message.imageMessage?.url || '' }}",
              "type": "string"
            },
            {
              "id": "1d26cae2-f41e-4ae5-9e65-74702db13593",
              "name": "message.event",
              "value": "={{ $('Webhook1').item.json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}",
              "type": "string"
            },
            {
              "id": "0ce58477-9897-47fd-af87-2f11d8c51ef0",
              "name": "instance.Name",
              "value": "={{ $('Webhook1').item.json.body.instance }}",
              "type": "string"
            },
            {
              "id": "7c962476-f63e-48a1-bd7f-fc386ca3bb80",
              "name": "instance.Apikey",
              "value": "={{ $('Webhook1').item.json.body.apikey }}",
              "type": "string"
            },
            {
              "id": "654a6c8d-0d36-46e8-8854-2dc3c08ac8b6",
              "name": "instance.Server_url",
              "value": "={{ $('Webhook1').item.json.body.server_url }}",
              "type": "string"
            },
            {
              "id": "4d2c3630-3c3b-40bd-9ffa-c2e856eba2bc",
              "name": "message.lid",
              "value": "={{ $('Webhook1').item.json.body.sender }}",
              "type": "string"
            },
            {
              "id": "4cf130be-665b-4c77-b725-89c76a0c8e87",
              "name": "client_name",
              "value": "={{ $('Webhook1').item.json.body.data.pushName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        256
      ],
      "id": "53c6e88d-1b79-49fb-a06a-f4d6f5efbd78",
      "name": "Normaliza",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "81d92796-c567-4c0b-bd7a-727fd911f9e8",
              "name": "content",
              "value": "=A imagem enviada tem o seguinte conteúdo:\n{{ $json.content }}\nA imagem contém a seguinte legenda:\n{{ $('Normaliza').item.json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4272,
        112
      ],
      "id": "51696eeb-cc79-40ee-8a5d-2cd1c4783692",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54d3dfaa-2a45-4aa7-bbb5-1c3030db3ea1",
              "leftValue": "={{ $('Normaliza').item.json.message.content }}",
              "rightValue": "[empty]",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4112,
        272
      ],
      "id": "4b60e4eb-d6ee-4332-a88d-d54a824c952f",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "## Central de Envios de Mensagens e Áudios\n",
        "height": 1564,
        "width": 1275,
        "color": 6
      },
      "id": "5616b5f2-fc87-4adf-bc8d-624fcc01f274",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7600,
        -304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "93657307-b1e6-4696-8cef-5d6450bcdc29",
      "name": "LoopItems",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        8192,
        112
      ]
    },
    {
      "parameters": {
        "amount": 1.2
      },
      "id": "3783b260-1f8b-47e8-99ae-39590c620899",
      "name": "Digitando",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8576,
        240
      ],
      "webhookId": "01c06c29-772d-4f7a-abac-effe8b613c14"
    },
    {
      "parameters": {},
      "id": "a6bb5b4b-abba-419e-b1c0-c45aeeb13c0a",
      "name": "Termina envio",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        8576,
        16
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        7920,
        -16
      ],
      "id": "e60d27d5-aea1-466e-ab5e-5c3c954efc4b",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.axiodev.cloud/message/sendText/AxioAtendimento",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Normaliza').item.json.instance.Apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Normaliza').item.json.message.chat_id }}\",\n  \"text\": \"{{ $json.output.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\"').trim() }}\"\n}",
        "options": {}
      },
      "id": "d2f39661-1d7a-4946-8806-d620ede5d09b",
      "name": "Enviar Mensagem de TEXTO WhatsApp - Telefone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        8384,
        240
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "m",
        "tableName": {
          "__rl": true,
          "value": "contacts",
          "mode": "list",
          "cachedResultName": "contacts"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        5808,
        1024
      ],
      "id": "236f13a7-888c-4268-b006-810e36a46a02",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "hRQubrr1Z9Q67BUq",
          "name": "WalkiriaNails"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        5392,
        1024
      ],
      "id": "6535e375-3245-4aa5-ad5a-513b21c2fd1f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "r70MiujuVPnGBOSn",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Aprenda a limpar o Redis\n**Temos aula disso**\n\n- Excesso de mensagens de teste confunde a IA\n- A aula está localizada no módulo \"Mecânico - solução de erros\" na aula \"Resetando memória do Redis\"",
        "height": 508,
        "width": 1188,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7632,
        688
      ],
      "id": "6ca70f29-b943-406d-9636-e64e7a1841f8",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Acessp ap RAG\n**Temos aula disso**\n\n- Excesso de mensagens de teste confunde a IA\n- A aula está localizada no módulo \"Mecânico - solução de erros\" na aula \"Resetando memória do Redis\"",
        "height": 364,
        "width": 788,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5312,
        816
      ],
      "id": "028d6b54-be8f-4c73-b01f-d23d90f97161",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "id": "ee752976-b126-4580-a2a2-71fbc5a9048f",
      "name": "Chat Memory Delete",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        8160,
        880
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f6785fd4-2ac9-46f8-82b6-4b37225f411d",
      "name": "Chat Memory Delete1",
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        8464,
        768
      ]
    },
    {
      "parameters": {
        "content": "Módulo de Voz",
        "height": 840,
        "width": 1192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7632,
        -208
      ],
      "id": "e9442a91-fa39-43ba-b804-3b0e7e1d530c",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "Módulo de Voz",
        "height": 1384,
        "width": 1880,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3008,
        -192
      ],
      "id": "d395fdf2-27dc-42ec-aeef-d4fb2f4cacc4",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "## Aprenda a limpar o Redis\n**Temos aula disso**\n\n- Excesso de mensagens de teste confunde a IA\n- A aula está localizada no módulo \"Mecânico - solução de erros\" na aula \"Resetando memória do Redis\"",
        "height": 1372,
        "width": 1284,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5056,
        -176
      ],
      "id": "4cbf82e3-de87-465f-babb-f429bdc4ba86",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Ferramentas / Funções \n**Aqui ficam as Ferramentas** \n- É importante que você conheça os\n  princípios para aciona-las\n- Existem infinitas possibilidades\n  dentro do N8N ",
        "height": 824,
        "width": 1968,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        -224
      ],
      "id": "92722397-34ff-4b3a-bfa4-52e186769803",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "Módulo de Voz",
        "height": 264,
        "width": 824
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6592,
        -240
      ],
      "id": "27f73efc-3cd3-4385-8715-bd413462fffa",
      "name": "Sticky Note24"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        7696,
        928
      ],
      "id": "13070f99-7fd0-49e5-9131-3174f159ec13",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "id": "df9d88c5-01c9-4741-92d8-9af3fe8915be",
      "name": "No Operation, do nothing3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5856,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ \n  $json.messages.length > 8 \n    ? $('Normaliza').item.json.message.messageID\n    : JSON.parse($json.messages.first()).messageID\n}}",
                    "rightValue": "={{ $('Organiza Texto').item.json.message_Id }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "1ce28741-7c43-4598-9fa0-ab2c9e52d75f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "={{ true }}",
              "outputKey": "Não é 1a Mensagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1585bc24-0b58-4179-8919-0e9aabc0e35e",
                    "leftValue": "={{ JSON.parse($json.messages.last()).messageTime }}",
                    "rightValue": "={{ $now.minus(3.'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "={{ true }}"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "esperar"
        }
      },
      "id": "9486105b-6855-48f3-a50a-b2b2fb011b85",
      "name": "Switch4",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        5536,
        192
      ]
    },
    {
      "parameters": {},
      "id": "829cc4e0-874c-469f-8b91-d233ba14c577",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5856,
        448
      ],
      "webhookId": "812be9c4-d042-48df-998a-5d03567c416d"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Normaliza').item.json.message.chat_id.toString() }}_buf"
      },
      "id": "3d9f1d81-6333-4975-80d8-88b41f10c688",
      "name": "Redis",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5856,
        208
      ],
      "credentials": {
        "redis": {
          "id": "inXbGLEpF0Qf8qMc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Tempo de Buffer\n- Altere o número de segundos no node Wait1\n",
        "height": 360,
        "width": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5504,
        0
      ],
      "id": "595ad51d-0ff1-41aa-8395-66e25a2a7390",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Normaliza').item.json.message.chat_id }}_buf",
        "messageData": "={{ JSON.stringify({ \n    \"messageContent\": $('Organiza Texto').item.json['Mídia_Tratada'],\n    \"messageTime\": $('Organiza Texto').item.json.Timetamp,\n    \"messageID\": $('Organiza Texto').item.json.message_Id,\n    \n}) }}",
        "tail": true
      },
      "id": "864276ff-5f12-426e-885f-52868a1cd527",
      "name": "Push Buffer1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5136,
        48
      ],
      "credentials": {
        "redis": {
          "id": "inXbGLEpF0Qf8qMc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "={{ $('Normaliza').item.json.message.chat_id.toString() }}_buf",
        "options": {}
      },
      "id": "0ef74b40-f809-4232-a1b5-9659823f1b62",
      "name": "Get Buffer1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5312,
        208
      ],
      "credentials": {
        "redis": {
          "id": "inXbGLEpF0Qf8qMc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db5cfe0a-7f43-4a61-8b27-bfd3a95deb8d",
              "name": "messages",
              "value": "={{ $json.messages.map(msg => JSON.parse(msg)).sort((a, b) => new Date(a.messageTime) - new Date(b.messageTime)).map(msg => msg.messageContent).join(' ') }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "359fa3ba-c181-4c4c-996e-1a9f4dedee65",
      "name": "Remonta Input1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6016,
        208
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6656,
        192
      ],
      "id": "773c2be6-0362-47b3-882a-6a65968b9ebf",
      "name": "OpenAI Chat Model1",
      "notesInFlow": false,
      "credentials": {
        "openAiApi": {
          "id": "r70MiujuVPnGBOSn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Solução para o problema da máscara de número \n- Criar um IF para verificar se o \"message.chat_id\" esta presente\n    Caso sim, o fluxo segue normal\n    Caso não, vem pra essa janela, que vai pegar o \"message.lid\", fazer um parse e incluir no \"Normaliza\" como número (tratado)\n",
        "height": 568,
        "width": 1056,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        624
      ],
      "id": "3f2922e3-2f30-4b41-ac77-d48e7f7d400c",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "06736e0f-939b-41f7-a190-f10d95533093",
              "leftValue": "={{ $json.body.data.key.remoteJid }}",
              "rightValue": "@lid",
              "operator": {
                "type": "string",
                "operation": "notEndsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        768
      ],
      "id": "42889f86-3c87-48b7-8450-365e4091b93a",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c6d4c6c-99c3-401d-abbe-a3b5d51eddfa",
              "name": "numero",
              "value": "={{ $json.body.data.key.remoteJidAlt.split('@')[0] || ''  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        976
      ],
      "id": "2cc37696-0ca9-4c27-bb5f-b460d37b7aa1",
      "name": "extrairnumero"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec9d077b-c30c-4555-9935-cad1a4b4f392",
              "name": "numero",
              "value": "={{ $json.numero }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        976
      ],
      "id": "32d02a88-4b44-46e4-880a-2fbf063b7e4d",
      "name": "padraonumero1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec9d077b-c30c-4555-9935-cad1a4b4f392",
              "name": "numero",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        752
      ],
      "id": "d3c1ed59-ef4b-4357-b36d-3107df2a65b5",
      "name": "padraonumero"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b5770d9-37c0-46b9-97b4-b1647b5172f1",
              "name": "message.chat_id",
              "value": "={{ $json.numero }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        976
      ],
      "id": "a863f2fe-9a0a-47a7-8648-b0f96d0a6ecf",
      "name": "tratamento"
    },
    {
      "parameters": {
        "content": "## Integração e Comunicação\n",
        "height": 1564,
        "width": 983,
        "color": 6
      },
      "id": "c5fc414e-4e96-4905-8b01-d85f970d9157",
      "name": "Sticky Note28",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6512,
        -304
      ]
    },
    {
      "parameters": {
        "content": "## Ferramentas / Funções \n**Aqui ficam as Ferramentas** \n",
        "height": 1144,
        "width": 576,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6832,
        48
      ],
      "id": "adbc15d8-baf8-4143-be78-5f5cff620c88",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        6656,
        496
      ],
      "id": "83d7ca4f-c277-471e-bef8-132acae9e333",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Normaliza').item.json.message.chat_id }}_mem",
        "sessionTTL": 10000
      },
      "id": "6c983927-c7f9-4400-92b1-e64c1c4a06c1",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        6656,
        336
      ],
      "credentials": {
        "redis": {
          "id": "inXbGLEpF0Qf8qMc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        6656,
        656
      ],
      "id": "f595c34e-b030-4753-b3a7-da5ce83cc7c7",
      "name": "Think"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        6656,
        816
      ],
      "id": "61af03a4-47d0-450d-bc78-8a0a76c98beb",
      "name": "Calculator"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=87996075897_mem",
        "sessionTTL": 10000
      },
      "id": "b3f2a416-48be-4451-be3f-39ae44b3d65d",
      "name": "Redis Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        8592,
        1008
      ],
      "credentials": {
        "redis": {
          "id": "inXbGLEpF0Qf8qMc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Essa tool do sheets, vai ser usada para salvar as iterações de possíveis clientes.",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10V0a1Hp5FrmsoGh6IWY4QzYS9leYMzrHrUppUnzMKkU",
          "mode": "list",
          "cachedResultName": "AxioAtendimento",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10V0a1Hp5FrmsoGh6IWY4QzYS9leYMzrHrUppUnzMKkU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "contatos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10V0a1Hp5FrmsoGh6IWY4QzYS9leYMzrHrUppUnzMKkU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Normaliza').item.json.message.message_id }}",
            "nome": "={{ $('Normaliza').item.json.client_name }}",
            "telefone": "={{ $('Normaliza').item.json.message.chat_id }}",
            "primeira_mensagem": "={{$json.msg}}",
            "intencao": "={{$json.intencao}}",
            "status": "\"novo\"",
            "data_hora": "={{$now.setZone(\"America/Fortaleza\")}}",
            "origem": "\"WhatsApp\""
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "primeira_mensagem",
              "displayName": "primeira_mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "intencao",
              "displayName": "intencao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        7120,
        208
      ],
      "id": "e0045658-b164-4ec7-ad2e-4f711c6d02cf",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gElCMVoUNR8lE6UZ",
          "name": "VanthuirDev"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7216,
        -144
      ],
      "id": "68147dc2-1254-4ef5-8284-de23f075817f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "efde61c9-1d5d-416a-8fc3-ae28d21fa94e",
              "name": "=output",
              "value": "={{ $json.output.split('\\n\\n') }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7664,
        -112
      ],
      "id": "da600a8b-0b7f-430d-af5a-020cfae2679f",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "K8Pu8hLtwdBnsmY4",
          "mode": "id",
          "cachedResultUrl": "/workflow/K8Pu8hLtwdBnsmY4"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nome": "={{ $('Origem').item.json.client_name }}",
            "telefone": "={{ $('Origem').item.json.message.chat_id }}",
            "mensagem": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mensagem', `A mensagem recebida`, 'string') }}",
            "origem": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('origem', `Origem da conversa`, 'string') }}",
            "intencao": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('intencao', `Intenção do usuário`, 'string') }}",
            "apikey": "={{ $('Normaliza').item.json.instance.Apikey }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "origem",
              "displayName": "origem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "intencao",
              "displayName": "intencao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "apikey",
              "displayName": "apikey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        6912,
        208
      ],
      "id": "f53647ab-8aa7-4f5a-bc09-965306b26866",
      "name": "envios"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "webhook.axiodev.cloud",
            "user-agent": "axios/1.12.2",
            "content-length": "1695",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhook.axiodev.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "f1cceca44ce7",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Axio_Test",
            "data": {
              "key": {
                "remoteJid": "558796075897@s.whatsapp.net",
                "remoteJidAlt": "170055002243125@lid",
                "fromMe": false,
                "id": "3EB0116E916B48CC78BA49",
                "participant": "",
                "addressingMode": "pn"
              },
              "pushName": "Vanthuir Maia",
              "status": "DELIVERY_ACK",
              "message": {
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 57,
                      "1": 68,
                      "2": 232,
                      "3": 1,
                      "4": 15,
                      "5": 6,
                      "6": 37,
                      "7": 97,
                      "8": 74,
                      "9": 233
                    },
                    "senderTimestamp": {
                      "low": 1764964968,
                      "high": 0,
                      "unsigned": true
                    },
                    "senderAccountType": 0,
                    "receiverAccountType": 0,
                    "recipientKeyHash": {
                      "0": 190,
                      "1": 204,
                      "2": 1,
                      "3": 190,
                      "4": 129,
                      "5": 194,
                      "6": 40,
                      "7": 126,
                      "8": 65,
                      "9": 137
                    },
                    "recipientTimestamp": {
                      "low": 1764368795,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 51,
                    "1": 50,
                    "2": 77,
                    "3": 77,
                    "4": 243,
                    "5": 34,
                    "6": 85,
                    "7": 201,
                    "8": 126,
                    "9": 112,
                    "10": 63,
                    "11": 141,
                    "12": 33,
                    "13": 17,
                    "14": 237,
                    "15": 131,
                    "16": 105,
                    "17": 33,
                    "18": 76,
                    "19": 140,
                    "20": 125,
                    "21": 209,
                    "22": 99,
                    "23": 82,
                    "24": 30,
                    "25": 147,
                    "26": 8,
                    "27": 31,
                    "28": 134,
                    "29": 80,
                    "30": 28,
                    "31": 167
                  },
                  "limitSharingV2": {
                    "trigger": 0,
                    "initiatedByMe": false
                  }
                },
                "conversation": "Conseguiu?"
              },
              "contextInfo": {
                "mentionedJid": [],
                "groupMentions": [],
                "ephemeralSettingTimestamp": {
                  "low": 1765366512,
                  "high": 0,
                  "unsigned": false
                },
                "disappearingMode": {
                  "initiator": 0,
                  "trigger": 1,
                  "initiatedByMe": false
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1765539381,
              "instanceId": "f293b8ef-a818-4cdd-95e9-51bf08ffc11d",
              "source": "web"
            },
            "destination": "https://webhook.axiodev.cloud/webhook/AxioAtendimento",
            "date_time": "2025-12-12T08:36:21.124Z",
            "sender": "558781531743@s.whatsapp.net",
            "server_url": "https://evolution.axiodev.cloud",
            "apikey": "E2ACB6798FC7-4540-82C0-DB21C4ECF638"
          },
          "webhookUrl": "https://webhook.axiodev.cloud/webhook/AxioAtendimento",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Mensagem de Audio": {
      "main": [
        [
          {
            "node": "Converter Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Áudio": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filta Msg App": {
      "main": [
        [
          {
            "node": "Organiza Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio de Imagens": {
      "main": [
        [
          {
            "node": "Converter Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Imagem": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados": {
      "main": [
        [
          {
            "node": "Organiza Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio de Documentos1": {
      "main": [
        [
          {
            "node": "Converter Arquivo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Arquivo1": {
      "main": [
        [
          {
            "node": "Extrair Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Organiza Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Block Chat Id": {
      "main": [
        [
          {
            "node": "Switch Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Block": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Mensagem de Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envio de Imagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filta Msg App",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envio de Documentos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Origem": {
      "main": [
        [
          {
            "node": "Gera Timeout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Block Chat Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza Texto": {
      "main": [
        [
          {
            "node": "Push Buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normaliza": {
      "main": [
        [
          {
            "node": "Origem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Organiza Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Organiza Texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoopItems": {
      "main": [
        [
          {
            "node": "Termina envio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Mensagem de TEXTO WhatsApp - Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Digitando": {
      "main": [
        [
          {
            "node": "LoopItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "LoopItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensagem de TEXTO WhatsApp - Telefone": {
      "main": [
        [
          {
            "node": "Digitando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Chat Memory Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Remonta Input1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Buffer1": {
      "main": [
        [
          {
            "node": "Get Buffer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Buffer1": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remonta Input1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "padraonumero",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "extrairnumero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extrairnumero": {
      "main": [
        [
          {
            "node": "padraonumero1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "padraonumero": {
      "main": [
        [
          {
            "node": "tratamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "padraonumero1": {
      "main": [
        [
          {
            "node": "tratamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tratamento": {
      "main": [
        [
          {
            "node": "Normaliza",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Delete1",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Delete",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "envios": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d7bf4dfe-0284-4bff-9027-dfd34157fee9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e8f31c1c3a8c280bb253380614be696f9c911d49488efcd6c433afea74a3f77"
  },
  "id": "0oM3ISH0CT9H1evo",
  "tags": []
}