n8n-workflows/Fixo _ Pedro Brandão.json
{
  "name": "Fixo | Pedro Brandão",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86ff282a-3ede-4417-98c1-0d10858bc5dc",
              "name": "response",
              "value": "={{$json.mensagem}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4128f571-c163-435a-ab23-0da24ad984e2",
      "name": "response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        32
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "vanthuir.dev@gmail.com",
          "mode": "id"
        },
        "timeMin": "={{ $json.inicioISO }}",
        "timeMax": "={{ $json.fimISO }}",
        "options": {}
      },
      "id": "4bd3917b-c7fc-4de6-a77d-ac997f4177e9",
      "name": "Disponibilidade2",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        208,
        352
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SIzT7xQGFwiDv6Qi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "vanthuir.dev@gmail.com",
          "mode": "id"
        },
        "start": "={{ $('diasSemana').item.json.inicioISO }}",
        "end": "={{ $('diasSemana').item.json.fimISO }}",
        "additionalFields": {
          "attendees": [],
          "description": "=Nome do cliente: {{ $('definir agenda1').item.json.nomeCliente }} \nWhatsapp: {{ $('definir agenda1').item.json.telefone }}\nServiço: {{ $('definir agenda1').item.json.servico }}\nProfissional: {{ $('definir agenda1').item.json.profissional }}",
          "summary": "=✂️ {{ $('definir agenda1').item.json.nomeCliente }} | {{ $('definir agenda1').item.json.servico }} | 👤 *Barbeiro:*  \n{{ $('definir agenda1').item.json.profissional }}\n"
        }
      },
      "id": "77c1db20-abef-4185-b96c-64c7b8fc66d4",
      "name": "Marca1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        784,
        336
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "SIzT7xQGFwiDv6Qi",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "barbeariabrandao751@gmail.com",
          "mode": "id"
        },
        "limit": 1,
        "options": {}
      },
      "id": "e8cf6d1c-9533-4b1c-abf5-2465898b20bb",
      "name": "Já tem um evento1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.1,
      "position": [
        -288,
        560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "H8Im9GGUiRn5b048",
          "name": "BrandãoBarbearia"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d192ed0-aebd-404e-8339-daab0d29651f",
              "leftValue": "={{ $json[\"id\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "943a0d2c-2106-4ade-a09c-4eb86078c069",
      "name": "If7",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        576
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "be5649a9-7624-4621-bd2d-84c25577c0ce",
              "leftValue": "={{ $json.available }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e74127f6-d711-4f02-8dfe-2d58287b164a",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        352
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "446ebc90-06ae-4258-a224-c5ab53b5913d",
              "name": "NomeLead",
              "value": "={{ $('definir agenda1').item.json.nomeCliente }}",
              "type": "string"
            },
            {
              "id": "d527479e-9c5f-43f8-89b8-d9ba46da1f05",
              "name": "Procedimento",
              "value": "={{ $('definir agenda1').item.json.servico }}",
              "type": "string"
            },
            {
              "id": "3cee3dfc-8157-4934-8b6a-656954cddcf4",
              "name": "Whatsapp",
              "value": "={{ $('definir agenda1').item.json.telefone }}",
              "type": "string"
            },
            {
              "id": "46b6b089-568c-4915-83fc-a18c8e581d96",
              "name": "diaHoraConsulta",
              "value": "={{ new Date($json.start.dateTime).toISOString() }}\n",
              "type": "string"
            },
            {
              "id": "2db684d5-feea-4edc-a6a1-d425c3b5e2f2",
              "name": "identficadorLead",
              "value": "={{ $('definir agenda1').item.json.telefone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        336
      ],
      "id": "5fe52b36-a126-43a1-b825-a44542a37fb7",
      "name": "setarInfo1"
    },
    {
      "parameters": {
        "tableId": "crm_geral",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "data",
              "fieldValue": "={{ $json.diaHoraConsulta }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.NomeLead }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $json.Whatsapp }}"
            },
            {
              "fieldId": "servico",
              "fieldValue": "={{ $json.Procedimento }}"
            },
            {
              "fieldId": "hora",
              "fieldValue": "={{ $('Code in JavaScript').item.json.hora }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "confirmado"
            },
            {
              "fieldId": "profissional",
              "fieldValue": "={{ $('Code in JavaScript').item.json.profissional }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1232,
        336
      ],
      "id": "a027c2d7-31a3-430d-8c49-b25c83742a53",
      "name": "marcarData1",
      "credentials": {
        "supabaseApi": {
          "id": "jQHru1Fgz53zPHpW",
          "name": "BrandaoBarbearia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega os dados do input\nconst dados = $input.first().json;\n\n// Normaliza os campos (aceita tanto camelCase quanto snake_case)\nconst dadosNormalizados = {\n  nome_cliente: dados.nome_cliente || dados.nomeCliente || \"\",\n  servico: dados.servico || \"\",\n  profissional: dados.profissional || \"\",\n  dia_semana: dados.dia_semana || dados.diaSemana || \"\",\n  data_inicio: dados.data_inicio || dados.dataInicio || \"\",\n  data_fim: dados.data_fim || dados.dataFim || \"\",\n  hora: dados.hora || \"\",\n  telefone: dados.telefone || \"\",\n  chat_id: dados.chat_id || dados.chat_id || \"\",\n  apikey: dados.apikey || \"\"\n};\n\n// Validação inicial\nif (!dadosNormalizados.data_inicio || !dadosNormalizados.data_fim || !dadosNormalizados.dia_semana || !dadosNormalizados.hora) {\n  return [{\n    json: {\n      erro: \"Dados obrigatórios faltando\",\n      recebido: dados\n    }\n  }];\n}\n\n// Converter datas dd/mm/yyyy → yyyy-mm-dd\nfunction parseBR(d) {\n  if (!d) return null;\n  const [dia, mes, ano] = d.split(\"/\");\n  return `${ano}-${mes.padStart(2, '0')}-${dia.padStart(2, '0')}`;\n}\n\nconst dataInicio = parseBR(dadosNormalizados.data_inicio);\nconst dataFim = parseBR(dadosNormalizados.data_fim);\n\n// Mapear dia da semana\nconst mapDia = {\n  \"domingo\": \"DOM\",\n  \"segunda\": \"SEG\",\n  \"terça\": \"TER\",\n  \"terca\": \"TER\",\n  \"quarta\": \"QUA\",\n  \"quinta\": \"QUI\",\n  \"sexta\": \"SEX\",\n  \"sábado\": \"SAB\",\n  \"sabado\": \"SAB\"\n};\n\nconst diaSemana = mapDia[dadosNormalizados.dia_semana.toLowerCase()] || \"SEX\";\n\n// Número JS do dia\nconst mapDiaNum = { DOM:0, SEG:1, TER:2, QUA:3, QUI:4, SEX:5, SAB:6 };\nconst diaSemanaNum = mapDiaNum[diaSemana];\n\n// Hora\nconst [horaNum, minNum] = dadosNormalizados.hora.split(\":\");\n\n// Duração fixa 30 min\nconst duracao = 30;\n\n// Parse manual das datas\nconst [anoInicio, mesInicio, diaInicio] = dataInicio.split(\"-\").map(Number);\nconst [anoFim, mesFim, diaFim] = dataFim.split(\"-\").map(Number);\n\nlet currentYear = anoInicio;\nlet currentMonth = mesInicio;\nlet currentDay = diaInicio;\n\nconst results = [];\n\n// Função para obter o dia da semana de uma data\nfunction getDiaSemana(year, month, day) {\n  const d = new Date(year, month - 1, day);\n  return d.getDay();\n}\n\n// Função para verificar se a data está dentro do período\nfunction dentroPeríodo(year, month, day) {\n  if (year < anoInicio || year > anoFim) return false;\n  if (year === anoInicio && (month < mesInicio || (month === mesInicio && day < diaInicio))) return false;\n  if (year === anoFim && (month > mesFim || (month === mesFim && day > diaFim))) return false;\n  return true;\n}\n\n// Encontrar a primeira ocorrência do dia da semana\nwhile (dentroPeríodo(currentYear, currentMonth, currentDay)) {\n  if (getDiaSemana(currentYear, currentMonth, currentDay) === diaSemanaNum) {\n    break;\n  }\n  currentDay++;\n  if (currentDay > 31) {\n    currentDay = 1;\n    currentMonth++;\n    if (currentMonth > 12) {\n      currentMonth = 1;\n      currentYear++;\n    }\n  }\n}\n\n// Gerar todas as ocorrências semanais\nwhile (dentroPeríodo(currentYear, currentMonth, currentDay)) {\n  // Calcular hora de fim\n  const horaFimNum = parseInt(horaNum);\n  const minFimNum = parseInt(minNum) + duracao;\n  const horaFimFinal = minFimNum >= 60 ? horaFimNum + 1 : horaFimNum;\n  const minFimFinal = minFimNum >= 60 ? minFimNum - 60 : minFimNum;\n  \n  // Formatar strings COM TIMEZONE -03:00 (Brasília)\n  const dataStr = `${currentYear}-${String(currentMonth).padStart(2, '0')}-${String(currentDay).padStart(2, '0')}`;\n  const inicioISO = `${dataStr}T${horaNum.padStart(2, '0')}:${minNum.padStart(2, '0')}:00-03:00`;\n  const fimISO = `${dataStr}T${String(horaFimFinal).padStart(2, '0')}:${String(minFimFinal).padStart(2, '0')}:00-03:00`;\n  \n  results.push({\n    json: {\n      nomeCliente: dadosNormalizados.nome_cliente,\n      servico: dadosNormalizados.servico,\n      profissional: dadosNormalizados.profissional,\n      diaSemana: diaSemana,\n      data: dataStr,\n      hora: dadosNormalizados.hora,\n      inicioISO: inicioISO,\n      fimISO: fimISO,\n      telefone: dadosNormalizados.telefone,\n      chat_id: dadosNormalizados.chat_id,\n      apikey: dadosNormalizados.apikey\n    }\n  });\n  \n  // Avançar 7 dias\n  currentDay += 7;\n  \n  // Ajustar mês/ano se necessário\n  const diasNoMes = new Date(currentYear, currentMonth, 0).getDate();\n  if (currentDay > diasNoMes) {\n    currentDay -= diasNoMes;\n    currentMonth++;\n    if (currentMonth > 12) {\n      currentMonth = 1;\n      currentYear++;\n    }\n  }\n}\n\n// Se não gerou nenhum resultado\nif (results.length === 0) {\n  return [{\n    json: {\n      erro: \"Nenhuma data gerada no período\",\n      data_inicio: dataInicio,\n      data_fim: dataFim,\n      dia_semana: diaSemana\n    }\n  }];\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        16
      ],
      "id": "a192fa62-0a7d-4a24-8488-08465eb356ce",
      "name": "diasSemana"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9279b155-8189-4a69-a027-c0f69435f64e",
              "name": "nomeCliente",
              "value": "={{ $json.entrada.nome_cliente }}",
              "type": "string"
            },
            {
              "id": "4d5705a1-e6b3-4438-8bd0-b9d24896e3c0",
              "name": "servico",
              "value": "={{ $json.entrada.servico }}",
              "type": "string"
            },
            {
              "id": "124e0f1b-2296-4631-83b0-844b9d74fca2",
              "name": "diaSemana",
              "value": "={{ $json.entrada.dia_semana }}",
              "type": "string"
            },
            {
              "id": "b6289108-5723-48fe-b8a8-0df312706cec",
              "name": "dataInicio",
              "value": "={{ $json.entrada.data_inicio }}",
              "type": "string"
            },
            {
              "id": "e6f61efb-41b0-4bf1-8c2e-ac70c35e43e7",
              "name": "dataFim",
              "value": "={{ $json.entrada.data_fim }}",
              "type": "string"
            },
            {
              "id": "b56d0a63-9983-49c7-b078-d70dd3a4d247",
              "name": "hora",
              "value": "={{ $json.entrada.hora }}",
              "type": "string"
            },
            {
              "id": "860d308e-9702-4c7c-97e1-b84fc6cfc4df",
              "name": "profissional",
              "value": "={{ $json.entrada.profissional }}",
              "type": "string"
            },
            {
              "id": "a4486560-8714-4871-8ef7-daa004b9400c",
              "name": "telefone",
              "value": "={{ $json.entrada.telefone }}",
              "type": "string"
            },
            {
              "id": "f1690555-2cbb-44c6-a626-6579c541d9fc",
              "name": "apikey",
              "value": "={{ $json.entrada.apikey }}",
              "type": "string"
            },
            {
              "id": "e452b94e-3cda-4956-8952-96bd78a14f1e",
              "name": "chat_id",
              "value": "={{ $json.entrada.chat_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        16
      ],
      "id": "4397ee6d-de46-4576-a510-b5dcea0d12a0",
      "name": "definir agenda1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        16
      ],
      "id": "cb888ce5-4753-4d31-9cc1-616adf8ff007",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Detecta automaticamente onde está a string JSON\nconst raw = $json.output || $json.query || $json.text || $json.message;\n\nif (!raw) {\n  return [{\n    json: {\n      erro: \"Nenhum campo válido encontrado (query/output/text/message)\",\n      entrada: $json\n    }\n  }];\n}\n\n// Sempre garante string\nlet clean = String(raw);\n\n// Remove escapes problemáticos\nclean = clean\n  .replace(/\\\\n/g, \"\")\n  .replace(/\\\\t/g, \"\")\n  .replace(/\\\\\"/g, '\"')\n  .trim();\n\n// Corrige vírgula antes do }\nclean = clean.replace(/,(\\s*})/g, \"$1\");\n\n// Faz o parse\nlet parsed;\ntry {\n  parsed = JSON.parse(clean);\n} catch (e) {\n  return [{\n    json: {\n      erro: \"Falha ao parsear JSON\",\n      mensagem: e.message,\n      original: raw,\n      cleaned: clean\n    }\n  }];\n}\n\n// Retorna o JSON limpo separado em campos DENTRO de json\nreturn [{\n  json: parsed\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        16
      ],
      "id": "b2f4561a-b389-496d-9d98-75de844882be",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -400,
        336
      ],
      "id": "6f98e33b-ee4c-4000-8b40-0ec543435681",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        1488,
        592
      ],
      "id": "2cf43d9d-650d-4250-87d9-525951514c6e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86ff282a-3ede-4417-98c1-0d10858bc5dc",
              "name": "status",
              "value": "={{ $json.status || \"ocupado\" }}",
              "type": "string"
            },
            {
              "id": "2d0c0a98-db09-4b3a-82a5-1253b7afd472",
              "name": "data_br",
              "value": "={{ $('diasSemana').item.json.data }}",
              "type": "string"
            },
            {
              "id": "5a9b8c3b-310e-4750-a810-9af696f04850",
              "name": "data_iso",
              "value": "={{ $('diasSemana').item.json.inicioISO }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "32eab6d0-0514-4d1d-9583-b66d2dd392e6",
      "name": "falha",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        592
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f92925f0-0e08-4a66-b71d-9d87798aea68",
              "name": "status",
              "value": "sucesso",
              "type": "string"
            },
            {
              "id": "7cf5c265-21f7-443e-a5c3-705dfccfb16c",
              "name": "data",
              "value": "={{ $json.data || $json.inicioISO?.split(\"T\")[0] }}",
              "type": "string"
            },
            {
              "id": "741a6ea5-0c3c-4e14-9e76-9159445fb99e",
              "name": "descricao",
              "value": "Agendado com sucesso",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        336
      ],
      "id": "81144484-5ab0-4648-885f-225611b7704b",
      "name": "sucesso"
    },
    {
      "parameters": {
        "jsCode": "// Node \"Code\" (não \"Set\") após saída do loop\n// Use um node \"Code\" ao invés de \"Set\" para processar os resultados\n\nconst resultados = $input.all(); // Pega todos os resultados do loop\n\n// Separa sucessos e ocupados\nconst agendados = resultados.filter(item => item.json.status === \"sucesso\");\nconst ocupados = resultados.filter(item => item.json.status === \"ocupado\");\n\n// Extrai datas dos ocupados (se disponível)\nconst datasOcupadas = ocupados\n  .map(item => item.json.data_tentativa || item.json.data_br || item.json.data_iso)\n  .filter(data => data && data !== \"Invalid de Date\\n\" && data !== null);\n\n// Monta a mensagem para o usuário\nlet mensagem = \"\";\n\n// Adiciona informações de sucesso\nif (agendados.length > 0) {\n  // Versão com formatação Markdown (WhatsApp/Telegram)\n  mensagem += \"*✅ Agendamento realizado com sucesso!*\\n\\n\";\n  \n  agendados.forEach(item => {\n    const data = new Date(item.json.data);\n    const dataFormatada = data.toLocaleDateString('pt-BR', {\n      day: '2-digit',\n      month: '2-digit',\n      year: 'numeric',\n      timeZone: 'America/Sao_Paulo'\n    });\n    \n    mensagem += `📅 *Data:* ${dataFormatada}\\n`;\n    if (item.json.descricao) {\n      mensagem += `${item.json.descricao}\\n`;\n    }\n    mensagem += \"\\n\";\n  });\n}\n\n// Adiciona informações de datas ocupadas\nif (ocupados.length > 0) {\n  const totalOcupados = ocupados.length;\n  mensagem += `\\n*⚠️ Horários não disponíveis:* ${totalOcupados} ${totalOcupados === 1 ? 'horário' : 'horários'}\\n`;\n  \n  // Se temos as datas ocupadas, mostrá-las\n  if (datasOcupadas.length > 0) {\n    mensagem += \"\\n\";\n    datasOcupadas.forEach(data => {\n      // Tenta formatar a data se for válida\n      try {\n        const dataObj = new Date(data);\n        if (!isNaN(dataObj.getTime())) {\n          const dataFormatada = dataObj.toLocaleDateString('pt-BR', {\n            day: '2-digit',\n            month: '2-digit',\n            year: 'numeric',\n            timeZone: 'America/Sao_Paulo'\n          });\n          mensagem += `   ❌ ${dataFormatada}\\n`;\n        } else {\n          mensagem += `   ❌ ${data}\\n`;\n        }\n      } catch (e) {\n        mensagem += `   ❌ ${data}\\n`;\n      }\n    });\n  }\n}\n\n// Se não houver nenhum sucesso\nif (agendados.length === 0) {\n  mensagem = \"*❌ Não foi possível realizar o agendamento*\\n\\n\";\n  mensagem += \"Todos os horários solicitados estão ocupados ou indisponíveis.\\n\";\n  mensagem += \"Por favor, tente outros horários.\";\n}\n\nreturn {\n  mensagem: mensagem,\n  total_agendados: agendados.length,\n  total_ocupados: ocupados.length,\n  detalhes_agendados: agendados.map(item => ({\n    data: item.json.data,\n    descricao: item.json.descricao\n  }))\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        32
      ],
      "id": "f06ed7e6-36e8-457f-820e-c5d16ae5d152",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.axiodev.cloud/message/sendText/BrandaoBarbearia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('definir agenda1').first().json.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('definir agenda1').first().json.chat_id }}\",\n  \"text\": \"{{ $('response').first().json.response.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\"').trim() }}\"\n}",
        "options": {}
      },
      "id": "cbd4499f-b6d3-437e-a3fc-d5e2fef302c4",
      "name": "Enviar Mensagem de TEXTO WhatsApp - Telefone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1488,
        32
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "content": "# Agendamento Fixo\n## Recebe do fluxo pai uma ordem de agendamento fixo, e realiza a consulta de disponibilidade, depois agenda no período e dia da semana informado, \n## salva no banco de dados para folowup e por fim devolve confirmação ao usuário\n",
        "height": 1088,
        "width": 2432,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -192
      ],
      "typeVersion": 1,
      "id": "acc5b898-67b2-44ed-b03a-e9716064d699",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "rota": "pedro",
          "nome_cliente": "Vanthuir Maia",
          "servico": "Corte de cabelo",
          "profissional": "Pedro",
          "profissional_normalizado": "pedro",
          "data_inicio": "10/12/2025",
          "data_fim": "17/12/2025",
          "dia_semana": "Quarta",
          "hora": "18:00",
          "telefone": "558796075897",
          "chat_id": "558796075897",
          "apikey": "EFD515BC0EAD-4BDA-AE9E-09D2084AAB6F"
        }
      }
    ]
  },
  "connections": {
    "Disponibilidade2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marca1": {
      "main": [
        [
          {
            "node": "setarInfo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já tem um evento1": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "falha",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Marca1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "falha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo1": {
      "main": [
        [
          {
            "node": "marcarData1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "marcarData1": {
      "main": [
        [
          {
            "node": "sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "diasSemana": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "definir agenda1": {
      "main": [
        [
          {
            "node": "diasSemana",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "definir agenda1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "response": {
      "main": [
        [
          {
            "node": "Enviar Mensagem de TEXTO WhatsApp - Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Disponibilidade2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "falha": {
      "main": [
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sucesso": {
      "main": [
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "efcf9167-f7cb-4156-823e-c43390735864",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e8f31c1c3a8c280bb253380614be696f9c911d49488efcd6c433afea74a3f77"
  },
  "id": "6255cyEmj4H5wJwP",
  "tags": []
}