n8n-workflows/Pedro _ Brandão Barbearia.json
{
  "name": "Pedro | Brandão Barbearia",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51bd4896-17e9-484b-b08a-b6854225ccb3",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        96
      ],
      "id": "927e5de5-bf0f-4773-ad4d-4e929cab861f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.identificadorLead }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        512,
        416
      ],
      "id": "f04ec1ea-b5a8-4b9c-a612-d0d48a95c121",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "fvh8JpKar9C8WLDs",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        416
      ],
      "id": "2580e57c-a007-4c67-880e-847449bef2e9",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "r70MiujuVPnGBOSn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 600,
        "width": 1580,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "3cc1852e-19fa-4806-9d62-083146eba06f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Agenda",
        "height": 240,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        336
      ],
      "typeVersion": 1,
      "id": "9a152ded-a933-4451-9862-c7aa50394bce",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3058e999-b1bf-43f3-b95c-bf1d71157c51",
              "name": "Duvida",
              "value": "={{ $('When Executed by Another Workflow').item.json.duvida }}",
              "type": "string"
            },
            {
              "id": "c6e2e733-5bb4-4b3d-9a79-cf43a9e56458",
              "name": "identificadorLead",
              "value": "={{ $('When Executed by Another Workflow').item.json['Identificador Lead'] }}",
              "type": "string"
            },
            {
              "id": "9181a250-f2ad-402e-8bed-2bc4ec9720e6",
              "name": "servico",
              "value": "={{ $('When Executed by Another Workflow').item.json.servico }}",
              "type": "string"
            },
            {
              "id": "2986dc61-de65-440b-846c-d36b4d60d75b",
              "name": "resultado",
              "value": "={{ $json.resultado }}",
              "type": "string"
            },
            {
              "id": "b6a444e5-780b-467c-b85a-bbbf9c3ab5a4",
              "name": "protocolo",
              "value": "={{ $('When Executed by Another Workflow').item.json.protocolo }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        96
      ],
      "id": "33d31eb2-1cee-412d-9182-187b94acb893",
      "name": "setarInfo3"
    },
    {
      "parameters": {
        "name": "criar_reuniao",
        "description": "=**Quando usar:**  \n- Sempre que precisar **marcar um agendamento** na agenda.  \n- Antes de chamar essa tool, é obrigatório ter:\n  1. O **nome completo** do paciente.\n  2. A **data e hora** desejada.\n  3. Serviço que o lead tem interesse.\n\n**Quando não usar:**  \n- Se ainda não tiver o nome completo do paciente.  \n- Se ainda não tiver a data e o horário desejado.\n- Se ainda não tiver o serviço desejado.\n\n#### Regras para marcar o agendamento\nPara marcar qualquer agendamento utilizando a tool **`criar_reuniao`**, é obrigatório definir corretamente:  \n1. O **start** (início do agendamento).  \n2. O **end** (fim do agendamento).  \n\nO tempo de cada consulta pode ser consultado na tool: **serviTool**.\n\nSempre calcule o horário final (**end**) com base na duração correspondente ao serviço informado. ",
        "workflowId": {
          "__rl": true,
          "value": "Toww1cIJrgUeN7Bf",
          "mode": "id",
          "cachedResultUrl": "/workflow/Toww1cIJrgUeN7Bf"
        },
        "fields": {
          "values": [
            {
              "name": "Evento",
              "stringValue": "agendamento"
            },
            {
              "name": "Remotejid",
              "stringValue": "={{ $('setarInfo3').item.json.identificadorLead }}"
            },
            {
              "name": "servico",
              "stringValue": "={{ $('setarInfo3').item.json.servico }}"
            },
            {
              "name": "Profissional",
              "stringValue": "Pedro Brandão"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n    \"lead\": \"nome completo do lead\",\n    \"start\": \"data e hora do inicio da reunião\",\n    \"end\": \"data e hora do fim da reunião\"\n}"
      },
      "id": "75c54b50-b597-48d4-87b8-edc9c9b66f12",
      "name": "criar_reuniao",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        912,
        448
      ]
    },
    {
      "parameters": {
        "name": "reagendar_reuniao",
        "description": "=## Quando usar:\n\n-   Acione esta tool quando o cliente solicitar a **mudança de data ou horário** de um agendamento já confirmado.\n    -   A tool só deve ser utilizada **depois que o cliente informar o protocolo do agendamento**, permitindo localizar exatamente o registro a ser reagendado.\n\n## Regras para uso:\n-   Utilize exclusivamente o **protocolo enviado** para identificar o agendamento correto nos sistemas internos.    \n-   O protocolo é a chave única do agendamento e deve ser repassado ao subworkflow para execução do reagendamento.    \n-   Esta tool **não deve interpretar texto** nem tentar adivinhar informações: ela trabalha apenas com os **parâmetros estruturados** fornecidos pelo agente principal (protocolo, profissional, lead, event_id, etc.).    \n-   Não solicite nome, serviço, telefone, data ou horário anterior — **todos esses dados já devem vir prontos** do agente principal.    \n**-   O subworkflow deve:**\n    1.  **Cancelar o evento anterior** (usando o event_id);        \n    2.  Permitir que o cliente escolha a nova data/horário;        \n    3.  **Criar um novo agendamento com o mesmo protocolo**.\n        \n## Quando não usar:\n-   Quando o cliente não enviar um protocolo válido.    \n-   Quando o cliente não tiver nenhum agendamento ativo.    \n-   Quando a mensagem do cliente for apenas uma dúvida, sem intenção clara de reagendar.    \n-   Quando o agendamento já estiver cancelado.",
        "workflowId": {
          "__rl": true,
          "value": "Toww1cIJrgUeN7Bf",
          "mode": "id",
          "cachedResultUrl": "/workflow/Toww1cIJrgUeN7Bf"
        },
        "fields": {
          "values": [
            {
              "name": "Evento",
              "stringValue": "reagendamento"
            },
            {
              "name": "Remotejid",
              "stringValue": "={{ $('setarInfo3').item.json.identificadorLead }}"
            },
            {
              "name": "protocolo",
              "stringValue": "={{ $json.protocolo }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"operacao\": \"reagendar\",\n  \"protocolo\": \"AGD-558799011989-1764871154198\",\n  \"lead\": \"558796075897\",\n  \"profissional\": \"Pedro Brandão\",\n  \"event_id\": \"abc123xyz\",\n  \"servico\": \"Corte\",\n  \"start\": \"2025-12-12T18:00:00Z\",\n  \"end\": \"2025-12-12T18:30:00Z\"\n}\n"
      },
      "id": "0d7a0862-b161-422c-81ea-9fe039a0a3be",
      "name": "reagendar_reuniao",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1232,
        448
      ]
    },
    {
      "parameters": {
        "name": "cancelar_reuniao",
        "description": "=## Quando usar:\n\n- Acione esta tool quando o cliente solicitar o **cancelamento** de um agendamento já confirmado.\n- A tool deve ser usada somente após o cliente informar o **protocolo** do agendamento ao agente principal.\n\n### Regras para uso:\n- Utilize exclusivamente o **protocolo** enviado para localizar o agendamento correto nos sistemas internos.\n- O protocolo identifica de forma única o agendamento e deve ser repassado ao subworkflow para execução do cancelamento.\n- Esta tool não deve interpretar texto: ela trabalha apenas com os parâmetros estruturados enviados pelo agente principal (protocolo, profissional, lead, event_id, etc.).\n- Não solicite nome, telefone, horário ou serviço: todos esses dados já devem ser recebidos prontos do agente principal.\n- Execute o cancelamento somente com base nos dados fornecidos; não tente deduzir informações a partir da conversa.\n\n#### Quando não usar:\n- Quando não houver protocolo enviado pelo cliente — o cancelamento não deve ser executado sem o identificador correto.\n- Quando a mensagem do cliente for apenas uma dúvida, esclarecimento ou pergunta geral, sem intenção explícita de cancelar.\n- Quando o agendamento já estiver cancelado ou não existir para o lead informado.",
        "workflowId": {
          "__rl": true,
          "value": "Toww1cIJrgUeN7Bf",
          "mode": "id",
          "cachedResultUrl": "/workflow/Toww1cIJrgUeN7Bf"
        },
        "fields": {
          "values": [
            {
              "name": "Evento",
              "stringValue": "cancelamento"
            },
            {
              "name": "Remotejid",
              "stringValue": "={{ $('setarInfo3').item.json.identificadorLead }}"
            },
            {
              "name": "protocolo",
              "stringValue": "={{ $('setarInfo3').item.json.protocolo }}"
            },
            {
              "name": "event_id",
              "stringValue": "={{ $('setarInfo3').item.json.event_id }}"
            }
          ]
        },
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"protocolo\": \"AGD-123...\",\n  \"lead\": \"5587...\"\n}\n"
      },
      "id": "c2b924bb-97c2-4953-ad8a-e99cf6c3aeda",
      "name": "cancelar_reuniao",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1392,
        448
      ]
    },
    {
      "parameters": {
        "name": "ver_horarios",
        "description": "=**Quando usar:**  \n- Use para buscar dias e horários disponíveis para agendamento.",
        "workflowId": {
          "__rl": true,
          "value": "Toww1cIJrgUeN7Bf",
          "mode": "id",
          "cachedResultUrl": "/workflow/Toww1cIJrgUeN7Bf"
        },
        "fields": {
          "values": [
            {
              "name": "Evento",
              "stringValue": "VerHorarios"
            }
          ]
        },
        "jsonSchemaExample": ""
      },
      "id": "16869648-9d7b-41be-b589-6e119796468e",
      "name": "ver_horarios",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1072,
        448
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "duvida"
            },
            {
              "name": "Identificador Lead"
            },
            {
              "name": "servico"
            },
            {
              "name": "protocolo"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        96
      ],
      "id": "a78d96f1-9831-4fe3-bf79-c093f12bc63b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const days = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\nconst now = new Date();   // <-- ESTA LINHA ESTAVA FALTANDO\nconst pad = (n) => String(n).padStart(2, '0');\n\nlet result = '';\n\nfor (let i = 1; i <= 10; i++) {\n  const future = new Date(now);\n  future.setDate(now.getDate() + i);\n\n  let label = '';\n\n  if (i === 1) {\n    label = `Amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  } else if (i === 2) {\n    label = `Depois de amanhã é ${days[future.getDay()]} ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  } else {\n    label = `${days[future.getDay()]} será dia ${pad(future.getDate())}/${pad(future.getMonth() + 1)}/${String(future.getFullYear()).slice(2)}`;\n  }\n\n  result += `${label}\\n`;\n}\n\nreturn [\n  {\n    json: {\n      resultado: result.trim()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        96
      ],
      "id": "811f6fac-d5ae-4307-a1aa-1aedbbb4d1d4",
      "name": "proximos_dias"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Duvida }}\n\n{{ $json.servico }}\n{{ $json.protocolo }}",
        "options": {
          "systemMessage": "=## IDENTIDADE\nVocê é um **agente interno** responsável exclusivamente por gerenciar os **agendamentos do Pedro Brandão**, profissional da Brandão Barbearia.\n\n## FUNÇÃO\n-   Verificar a **disponibilidade de datas e horários** para agendamentos. \n-   **Agendar, remarcar ou cancelar** atendimentos com clientes interessados.  \n-   **Solicitar** do usuário o protocolo de agendamento, caso o interesse dele seja **cancelar** ou **reagendar** um atendimento.\n-   Validar sempre os **pré-requisitos obrigatórios** antes de confirmar o agendamento: **nome completo**, data/hora desejada e **serviço escolhido**.\n\n## DIAS E HORÁRIOS DISPONÍVEIS\n\n-   O profissional Pedro Brandão realiza atendimentos os seguintes dias e horários disponíveis nas tools: **horarios e datas_especiais**.\n-   Cada serviço tem duração específica, consulte a tool: 'serviTool', na coluna **Duração** para consultar o tempo em **minutos**.\n-   Se o cliente escolher **mais de um serviço**, o tempo total será calculado somando o tempo de cada serviços.\n-   Os horários devem sempre ser informados com **dia da semana, data (dia e mês) e hora**, no formato:\n    > Exemplo: “Quarta-feira, dia 18/05, às 15h”.\n\n## TOOLS DISPONÍVEIS\n\n### 1. Nome da tool: `criar_reuniao`\n\n**Quando usar:**\n-   Sempre que precisar **marcar um agendamento** na agenda do Pedro Brandão.\n-   Antes de chamar essa tool, é obrigatório ter:\n    1.  **Nome completo** do cliente\n    2.  **Data e hora** desejado   \n    3.  **Serviço desejado**       \n\n**Quando não usar:**\n-   Se faltar qualquer um dos dados obrigatórios acima.\n\n### 2. Nome da tool: `reagendar_reuniao`\n\n**Quando usar:**\n-   Quando o cliente solicitar a **mudança de data ou horário** de um agendamento já marcado.\n-   Utilize as informações existentes no histórico da conversa e o **protocolo** do agendamento, para identificar o agendamento solicitado..\n\n**Quando não usar:**\n-   Se o cliente não tiver um agendamento previamente agendado e não informar o **protocolo** do agendamento.\n\n### 3. Nome da tool: `cancelar_reuniao`\n\n**Quando usar:**\n-   Quando o cliente solicitar o **cancelamento** de um agendamento já agendado.\n-   Use o **protocolo** de agendamento para identificar o evento a ser cancelado.\n\n**Quando não usar:**\n-   Se não houver agendamento marcado ou se o cliente estiver apenas com dúvida ou ainda se não informar o **protocolo** de agendamento.\n\n### 4. Nome da tool: `ver_horarios`\n\n**Quando usar:**\n-   Para **consultar os dias e horários disponíveis** na agenda.\n-   Deve informar de forma clara se o horário está **disponível** ou **indisponível**.\n\n**Quando não usar:**\n-   Para confirmar ou marcar diretamente o agendamento — use apenas para consulta de disponibilidade.\n\n### **REGRA IMPORTANTE — Cancelamento e Reagendamento com PROTOCOLO**\n-   Sempre que o cliente disser que deseja **cancelar ou alterar ou reagendar** um horário e não enviar o protocolo do agendamento, responda:\n> “Claro! Pode me mandar o _protocolo do agendamento_ pra eu localizar rapidinho pra você?”\n-   O cliente **sempre** deverá informar o protocolo para que a tool `cancelar_reuniao` ou `reagendar_reuniao` consiga localizar o agendamento exato no sistema.    \n-   Mantenha um tom calmo, profissional e empático, mostrando que é um procedimento simples e rápido.    \n\n## REGRAS GERAIS\n-   Sempre confirmar os **pré-requisitos obrigatórios** antes de agendar: **nome completo**, **data inicial**, **data final**, **hora desejada** e **serviço desejado**.\n-   Cada serviço tem a sua duração descrita na tool **serviTool**.\n-   Os atendimentos são realizados nos seguintes dias e horários disponíveis nas tools: **horarios e datas_especiais**.\n-   Sempre que mencionar um horário, informe o **dia da semana**, **data (dia e mês)** e **hora**, no formato:\n    > Exemplo: “Sexta-feira, dia 22/08, às 11h”.\n\n-   **Nunca informe o ano**.\n-   Caso o cliente pergunte sobre horários disponíveis, apresente no máximo **três opções**.\n-   Não é necessário nenhum pagamento ou sinal para confirmar o agendamento.\n\n## DATA E HORA ATUALIZADOS\nUse estas informações como contexto de data e hora nas conversas:\n\n{{ $json.resultado }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        832,
        96
      ],
      "id": "9791c16c-be0b-4281-bec4-0b8014c5027a",
      "name": "Pedro Brandão"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "duvida": "Solicito a verificação e reagendamento do corte de cabelo para Hendrie Maia para o dia 06/12 às 17:30 com Pedro Brandão, utilizando o protocolo AGD-558796075897-1764877189708.",
          "Identificador Lead": "558796075897",
          "servico": "Corte de cabelo",
          "protocolo": "AGD-558796075897-1764877189708"
        }
      }
    ]
  },
  "connections": {
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Pedro Brandão",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Pedro Brandão",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "setarInfo3": {
      "main": [
        [
          {
            "node": "Pedro Brandão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criar_reuniao": {
      "ai_tool": [
        [
          {
            "node": "Pedro Brandão",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "reagendar_reuniao": {
      "ai_tool": [
        [
          {
            "node": "Pedro Brandão",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancelar_reuniao": {
      "ai_tool": [
        [
          {
            "node": "Pedro Brandão",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ver_horarios": {
      "ai_tool": [
        [
          {
            "node": "Pedro Brandão",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "proximos_dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "proximos_dias": {
      "main": [
        [
          {
            "node": "setarInfo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedro Brandão": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d2a997af-ab74-4d1d-bd53-12d592ca6c29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e8f31c1c3a8c280bb253380614be696f9c911d49488efcd6c433afea74a3f77"
  },
  "id": "WKrxtCvcA7cBz9f2",
  "tags": []
}