n8n-workflows/TEMPLATE_Bot_Universal_VPS.json
{
  "name": "TEMPLATE - Bot Universal VPS (Sem Credenciais)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bot-universal",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "id": "webhook-trigger",
      "name": "Webhook - Recebe Mensagem",
      "webhookId": "bot-universal-saas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "empresa_id",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id || 1 }}",
              "type": "number"
            },
            {
              "id": "instance_name",
              "name": "instance_name",
              "value": "={{ $json.body.instance || '' }}",
              "type": "string"
            },
            {
              "id": "telefone",
              "name": "telefone",
              "value": "={{ $json.body.data?.key?.remoteJid?.replace('@s.whatsapp.net', '') || $json.body.telefone }}",
              "type": "string"
            },
            {
              "id": "mensagem",
              "name": "mensagem",
              "value": "={{ $json.body.data?.message?.conversation || $json.body.data?.message?.extendedTextMessage?.text || $json.body.mensagem }}",
              "type": "string"
            },
            {
              "id": "nome_cliente",
              "name": "nome_cliente",
              "value": "={{ $json.body.data?.pushName || 'Cliente' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "id": "normalizar-dados",
      "name": "Normalizar Dados"
    },
    {
      "parameters": {
        "content": "## ⚙️ CONFIGURAÇÃO (VPS - Sem Credenciais)\n\n### Variáveis de Ambiente\nConfigure no arquivo .env do n8n:\n\n```bash\nDJANGO_API_URL=https://axiogestto.com\nDJANGO_API_KEY=sua-api-key-secreta-aqui\nEVOLUTION_API_URL=https://evolution.axiodev.cloud\nEVOLUTION_API_KEY=sua-evolution-api-key\nOPENAI_API_KEY=sk-proj-xxxxxxxxxx\n```\n\n### OU Substitua Diretamente\n\nNos nodes HTTP Request, substitua:\n\n`{{ $env.DJANGO_API_URL }}`\npor:\n`https://axiogestto.com`\n\n`{{ $env.DJANGO_API_KEY }}`\npor:\n`sua-chave-real`",
        "height": 460,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-160, 100],
      "typeVersion": 1,
      "id": "note-config",
      "name": "📋 Config VPS"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.DJANGO_API_URL }}/api/n8n/profissionais/",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "empresa_id",
              "value": "={{ $json.empresa_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.DJANGO_API_KEY }}"
            },
            {
              "name": "empresa_id",
              "value": "={{ $json.empresa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 180],
      "id": "buscar-profissionais",
      "name": "Buscar Profissionais"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.DJANGO_API_URL }}/api/n8n/servicos/",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "empresa_id",
              "value": "={{ $('Normalizar Dados').item.json.empresa_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.DJANGO_API_KEY }}"
            },
            {
              "name": "empresa_id",
              "value": "={{ $('Normalizar Dados').item.json.empresa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "id": "buscar-servicos",
      "name": "Buscar Servicos"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.DJANGO_API_URL }}/api/n8n/horarios-funcionamento/",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "empresa_id",
              "value": "={{ $('Normalizar Dados').item.json.empresa_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.DJANGO_API_KEY }}"
            },
            {
              "name": "empresa_id",
              "value": "={{ $('Normalizar Dados').item.json.empresa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 420],
      "id": "buscar-horarios",
      "name": "Buscar Horarios"
    },
    {
      "parameters": {
        "jsCode": "// Consolida todos os dados buscados da API\nconst dados = $('Normalizar Dados').item.json;\nconst profissionais = $('Buscar Profissionais').item.json.profissionais || [];\nconst servicos = $('Buscar Servicos').item.json.servicos || [];\nconst horarios = $('Buscar Horarios').item.json.horarios || [];\n\n// Formata dados para o agente\nconst contextoProfissionais = profissionais\n  .map(p => `- ${p.nome} (ID: ${p.id})`)\n  .join('\\n');\n\nconst contextoServicos = servicos\n  .map(s => `- ${s.nome}: R$ ${s.preco} (${s.duracao_minutos} min)${s.descricao ? ' - ' + s.descricao : ''}`)\n  .join('\\n');\n\nconst contextoHorarios = horarios\n  .map(h => `${h.dia_semana_nome}: ${h.hora_abertura} às ${h.hora_fechamento}${h.intervalo_inicio ? ` (intervalo ${h.intervalo_inicio} às ${h.intervalo_fim})` : ''}`)\n  .join('\\n');\n\n// Data/hora atual para contexto\nconst agora = new Date();\nconst dias = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\nconst meses = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'];\n\nconst contextoTemporal = `Hoje é ${dias[agora.getDay()]}, ${agora.getDate()} de ${meses[agora.getMonth()]} de ${agora.getFullYear()}, ${agora.getHours()}:${String(agora.getMinutes()).padStart(2, '0')}`;\n\nreturn [{\n  json: {\n    ...dados,\n    profissionais: profissionais,\n    servicos: servicos,\n    horarios: horarios,\n    contexto_profissionais: contextoProfissionais,\n    contexto_servicos: contextoServicos,\n    contexto_horarios: contextoHorarios,\n    contexto_temporal: contextoTemporal\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "consolidar-contexto",
      "name": "Consolidar Contexto"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"## IDENTIDADE\\n\\nVocê é um assistente virtual inteligente para agendamentos.\\n\\n## DATA E HORA ATUAL\\n\\n{{ $json.contexto_temporal }}\\n\\n## PROFISSIONAIS DISPONÍVEIS\\n\\n{{ $json.contexto_profissionais }}\\n\\n## SERVIÇOS DISPONÍVEIS\\n\\n{{ $json.contexto_servicos }}\\n\\n## HORÁRIOS DE FUNCIONAMENTO\\n\\n{{ $json.contexto_horarios }}\\n\\n## SUA MISSÃO\\n\\nQuando o cliente enviar uma mensagem, você deve:\\n\\n1. **Identificar a intenção:**\\n   - \\\"agendar\\\": Cliente quer criar um agendamento\\n   - \\\"cancelar\\\": Cliente quer cancelar agendamento\\n   - \\\"consultar\\\": Cliente quer ver horários disponíveis\\n   - \\\"duvida\\\": Cliente tem dúvidas gerais\\n\\n2. **Extrair informações (se for agendamento):**\\n   - \\\"nome_cliente\\\": Nome completo do cliente\\n   - \\\"servico\\\": Nome do serviço desejado\\n   - \\\"profissional\\\": Nome do profissional (se mencionado)\\n   - \\\"data\\\": Data desejada (converter para YYYY-MM-DD)\\n   - \\\"hora\\\": Horário desejado (formato HH:MM)\\n\\n3. **Retornar APENAS JSON estruturado (sem texto adicional):**\\n\\n```json\\n{\\n  \\\"intencao\\\": \\\"agendar\\\",\\n  \\\"nome_cliente\\\": \\\"Nome do cliente\\\",\\n  \\\"servico\\\": \\\"Corte de Cabelo\\\",\\n  \\\"profissional\\\": \\\"João\\\" ou null,\\n  \\\"data\\\": \\\"2025-12-23\\\",\\n  \\\"hora\\\": \\\"14:00\\\",\\n  \\\"observacoes\\\": \\\"Qualquer observação relevante\\\"\\n}\\n```\\n\\n## REGRAS IMPORTANTES\\n\\n- Retorne APENAS o JSON, sem markdown, sem explicações\\n- Se o cliente NÃO mencionar profissional, deixe \\\"profissional\\\": null\\n- Sempre confirme se tem todas as informações antes de processar\\n- Se faltar informação, inclua no JSON: \\\"pergunta\\\": \\\"O que você quer saber?\\\"\\n- Normalize datas relativas (\\\"amanhã\\\", \\\"próxima segunda\\\", etc)\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.mensagem }}\"\n    }\n  ],\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "id": "openai-request",
      "name": "OpenAI Chat (Direto)"
    },
    {
      "parameters": {
        "jsCode": "// Extrai resposta do OpenAI\nconst response = $json;\nconst content = response.choices[0].message.content;\n\n// Remove markdown se houver\nlet jsonStr = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n// Parse JSON\nlet dados;\ntry {\n  dados = JSON.parse(jsonStr);\n} catch (err) {\n  // Se não conseguiu parsear, retorna erro\n  return [{\n    json: {\n      erro: true,\n      mensagem: 'Não consegui entender. Pode reformular?',\n      content_original: content\n    }\n  }];\n}\n\n// Pega dados do contexto anterior\nconst contexto = $('Consolidar Contexto').item.json;\n\n// Match de profissional (se mencionado)\nlet profissional_id = null;\nlet profissional_nome = null;\n\nif (dados.profissional) {\n  const normalizar = (texto) => texto\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .trim();\n\n  const nomeNormalizado = normalizar(dados.profissional);\n  \n  // Busca match\n  const match = contexto.profissionais.find(p =>\n    normalizar(p.nome).includes(nomeNormalizado) ||\n    nomeNormalizado.includes(normalizar(p.nome))\n  );\n\n  if (match) {\n    profissional_id = match.id;\n    profissional_nome = match.nome;\n  }\n}\n\n// Se não encontrou profissional mas tem na lista, pega o primeiro\nif (!profissional_id && contexto.profissionais.length > 0) {\n  profissional_id = contexto.profissionais[0].id;\n  profissional_nome = contexto.profissionais[0].nome;\n}\n\n// Match de serviço\nlet servico_id = null;\nlet servico_nome = null;\n\nif (dados.servico) {\n  const normalizar = (texto) => texto.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n  const servicoNormalizado = normalizar(dados.servico);\n  \n  const match = contexto.servicos.find(s =>\n    normalizar(s.nome).includes(servicoNormalizado) ||\n    servicoNormalizado.includes(normalizar(s.nome))\n  );\n\n  if (match) {\n    servico_id = match.id;\n    servico_nome = match.nome;\n  }\n}\n\nreturn [{\n  json: {\n    // Dados originais\n    empresa_id: contexto.empresa_id,\n    telefone: contexto.telefone,\n    instance_name: contexto.instance_name,\n    \n    // Dados extraídos pela IA\n    intencao: dados.intencao,\n    nome_cliente: dados.nome_cliente || contexto.nome_cliente,\n    \n    // Serviço\n    servico: dados.servico,\n    servico_id: servico_id,\n    servico_nome: servico_nome,\n    \n    // Profissional\n    profissional: dados.profissional,\n    profissional_id: profissional_id,\n    profissional_nome: profissional_nome,\n    \n    // Data/hora\n    data: dados.data,\n    hora: dados.hora,\n    \n    // Outros\n    observacoes: dados.observacoes || '',\n    pergunta: dados.pergunta || '',\n    \n    // Flag de sucesso\n    dados_completos: !!(dados.intencao && servico_id && dados.data && dados.hora)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "id": "processar-output",
      "name": "Processar Output IA"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "intencao-agendar",
                    "leftValue": "={{ $json.intencao }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "intencao-consultar",
                    "leftValue": "={{ $json.intencao }}",
                    "rightValue": "consultar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consultar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1560, 300],
      "id": "router-intencao",
      "name": "Router por Intenção"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DJANGO_API_URL }}/api/bot/processar/",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.DJANGO_API_KEY }}"
            },
            {
              "name": "empresa_id",
              "value": "={{ $json.empresa_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"telefone\": \"{{ $json.telefone }}\",\n  \"mensagem_original\": \"{{ $('Consolidar Contexto').item.json.mensagem }}\",\n  \"intencao\": \"agendar\",\n  \"dados\": {\n    \"nome_cliente\": \"{{ $json.nome_cliente }}\",\n    \"servico\": \"{{ $json.servico }}\",\n    \"profissional_id\": {{ $json.profissional_id }},\n    \"data\": \"{{ $json.data }}\",\n    \"hora\": \"{{ $json.hora }}\",\n    \"observacoes\": \"{{ $json.observacoes }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 240],
      "id": "criar-agendamento",
      "name": "Criar Agendamento"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL }}/message/sendText/{{ $('Processar Output IA').item.json.instance_name }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.telefone }}\",\n  \"text\": \"{{ $json.mensagem }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300],
      "id": "enviar-resposta",
      "name": "Enviar Resposta WhatsApp"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Processado' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 300],
      "id": "response-webhook",
      "name": "Response OK"
    }
  ],
  "connections": {
    "Webhook - Recebe Mensagem": {
      "main": [[{ "node": "Normalizar Dados", "type": "main", "index": 0 }]]
    },
    "Normalizar Dados": {
      "main": [[
        { "node": "Buscar Profissionais", "type": "main", "index": 0 },
        { "node": "Buscar Servicos", "type": "main", "index": 0 },
        { "node": "Buscar Horarios", "type": "main", "index": 0 }
      ]]
    },
    "Buscar Profissionais": {
      "main": [[{ "node": "Consolidar Contexto", "type": "main", "index": 0 }]]
    },
    "Buscar Servicos": {
      "main": [[{ "node": "Consolidar Contexto", "type": "main", "index": 0 }]]
    },
    "Buscar Horarios": {
      "main": [[{ "node": "Consolidar Contexto", "type": "main", "index": 0 }]]
    },
    "Consolidar Contexto": {
      "main": [[{ "node": "OpenAI Chat (Direto)", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat (Direto)": {
      "main": [[{ "node": "Processar Output IA", "type": "main", "index": 0 }]]
    },
    "Processar Output IA": {
      "main": [[{ "node": "Router por Intenção", "type": "main", "index": 0 }]]
    },
    "Router por Intenção": {
      "main": [
        [{ "node": "Criar Agendamento", "type": "main", "index": 0 }],
        [],
        [{ "node": "Enviar Resposta WhatsApp", "type": "main", "index": 0 }]
      ]
    },
    "Criar Agendamento": {
      "main": [[{ "node": "Enviar Resposta WhatsApp", "type": "main", "index": 0 }]]
    },
    "Enviar Resposta WhatsApp": {
      "main": [[{ "node": "Response OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "vps-no-creds-v1",
  "meta": {
    "instanceId": "axio-gestto-vps"
  },
  "id": "bot-universal-vps",
  "tags": []
}
