n8n-workflows/TEMPLATE_Bot_Universal_SaaS.json
{
  "name": "TEMPLATE - Bot Universal SaaS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bot-universal",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "id": "webhook-trigger",
      "name": "Webhook - Recebe Mensagem",
      "webhookId": "bot-universal-saas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "empresa_id",
              "name": "empresa_id",
              "value": "={{ $json.body.empresa_id || 1 }}",
              "type": "number"
            },
            {
              "id": "instance_name",
              "name": "instance_name",
              "value": "={{ $json.body.instance || '' }}",
              "type": "string"
            },
            {
              "id": "telefone",
              "name": "telefone",
              "value": "={{ $json.body.data?.key?.remoteJid?.replace('@s.whatsapp.net', '') || $json.body.telefone }}",
              "type": "string"
            },
            {
              "id": "mensagem",
              "name": "mensagem",
              "value": "={{ $json.body.data?.message?.conversation || $json.body.data?.message?.extendedTextMessage?.text || $json.body.mensagem }}",
              "type": "string"
            },
            {
              "id": "nome_cliente",
              "name": "nome_cliente",
              "value": "={{ $json.body.data?.pushName || 'Cliente' }}",
              "type": "string"
            },
            {
              "id": "message_id",
              "name": "message_id",
              "value": "={{ $json.body.data?.key?.id || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "id": "normalizar-dados",
      "name": "Normalizar Dados"
    },
    {
      "parameters": {
        "content": "## 📋 CONFIGURAÇÃO NECESSÁRIA\n\n### 1. Credenciais\n- **Django API**: Configure credencial com sua API Key\n- **Evolution API**: Configure credencial com API Key\n- **OpenAI**: Configure credencial com sua API Key\n\n### 2. Variáveis\nSubstitua nos nodes HTTP Request:\n- `DJANGO_URL`: https://seu-dominio.com\n- `EVOLUTION_URL`: https://evolution.axiodev.cloud\n- `API_KEY`: sua-api-key-secreta\n\n### 3. Como usar\n1. Importe este workflow\n2. Configure as credenciais\n3. Ative o workflow\n4. Webhook URL: https://seu-n8n.com/webhook/bot-universal\n5. Configure este webhook no Django para receber mensagens",
        "height": 400,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-160, 100],
      "typeVersion": 1,
      "id": "note-config",
      "name": "📋 Instruções"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://seu-dominio.com/api/n8n/profissionais/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "empresa_id",
              "value": "={{ $json.empresa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 180],
      "id": "buscar-profissionais",
      "name": "Buscar Profissionais",
      "credentials": {
        "httpHeaderAuth": {
          "id": "django-api",
          "name": "Django API Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://seu-dominio.com/api/n8n/servicos/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "empresa_id",
              "value": "={{ $('Normalizar Dados').item.json.empresa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "id": "buscar-servicos",
      "name": "Buscar Servicos",
      "credentials": {
        "httpHeaderAuth": {
          "id": "django-api",
          "name": "Django API Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://seu-dominio.com/api/n8n/horarios-funcionamento/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "empresa_id",
              "value": "={{ $('Normalizar Dados').item.json.empresa_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 420],
      "id": "buscar-horarios",
      "name": "Buscar Horarios",
      "credentials": {
        "httpHeaderAuth": {
          "id": "django-api",
          "name": "Django API Auth"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Consolida todos os dados buscados da API\nconst dados = $('Normalizar Dados').item.json;\nconst profissionais = $('Buscar Profissionais').item.json.profissionais || [];\nconst servicos = $('Buscar Servicos').item.json.servicos || [];\nconst horarios = $('Buscar Horarios').item.json.horarios || [];\n\n// Formata dados para o agente\nconst contextoProfissionais = profissionais\n  .map(p => `- ${p.nome} (ID: ${p.id})`)\n  .join('\\n');\n\nconst contextoServicos = servicos\n  .map(s => `- ${s.nome}: R$ ${s.preco} (${s.duracao_minutos} min)${s.descricao ? ' - ' + s.descricao : ''}`)\n  .join('\\n');\n\nconst contextoHorarios = horarios\n  .map(h => `${h.dia_semana_nome}: ${h.hora_abertura} às ${h.hora_fechamento}${h.intervalo_inicio ? ` (intervalo ${h.intervalo_inicio} às ${h.intervalo_fim})` : ''}`)\n  .join('\\n');\n\n// Data/hora atual para contexto\nconst agora = new Date();\nconst dias = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];\nconst meses = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'];\n\nconst contextoTemporal = `Hoje é ${dias[agora.getDay()]}, ${agora.getDate()} de ${meses[agora.getMonth()]} de ${agora.getFullYear()}, ${agora.getHours()}:${String(agora.getMinutes()).padStart(2, '0')}`;\n\nreturn [{\n  json: {\n    ...dados,\n    profissionais: profissionais,\n    servicos: servicos,\n    horarios: horarios,\n    contexto_profissionais: contextoProfissionais,\n    contexto_servicos: contextoServicos,\n    contexto_horarios: contextoHorarios,\n    contexto_temporal: contextoTemporal\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "consolidar-contexto",
      "name": "Consolidar Contexto"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "=## IDENTIDADE\n\nVocê é um assistente virtual inteligente para agendamentos.\n\n## DATA E HORA ATUAL\n\n{{ $json.contexto_temporal }}\n\n## PROFISSIONAIS DISPONÍVEIS\n\n{{ $json.contexto_profissionais }}\n\n## SERVIÇOS DISPONÍVEIS\n\n{{ $json.contexto_servicos }}\n\n## HORÁRIOS DE FUNCIONAMENTO\n\n{{ $json.contexto_horarios }}\n\n## SUA MISSÃO\n\nQuando o cliente enviar uma mensagem, você deve:\n\n1. **Identificar a intenção:**\n   - `agendar`: Cliente quer criar um agendamento\n   - `cancelar`: Cliente quer cancelar agendamento\n   - `consultar`: Cliente quer ver horários disponíveis\n   - `duvida`: Cliente tem dúvidas gerais\n\n2. **Extrair informações (se for agendamento):**\n   - `nome_cliente`: Nome completo do cliente\n   - `servico`: Nome do serviço desejado\n   - `profissional`: Nome do profissional (se mencionado)\n   - `data`: Data desejada (converter para YYYY-MM-DD)\n   - `hora`: Horário desejado (formato HH:MM)\n\n3. **Retornar JSON estruturado:**\n\n```json\n{\n  \"intencao\": \"agendar\",\n  \"nome_cliente\": \"Nome do cliente\",\n  \"servico\": \"Corte de Cabelo\",\n  \"profissional\": \"João\" ou null,\n  \"data\": \"2025-12-23\",\n  \"hora\": \"14:00\",\n  \"observacoes\": \"Qualquer observação relevante\"\n}\n```\n\n## REGRAS IMPORTANTES\n\n- Se o cliente NÃO mencionar profissional, deixe `profissional: null`\n- Sempre confirme se tem todas as informações antes de processar\n- Se faltar informação, pergunte educadamente\n- Use linguagem natural e amigável\n- Considere sinônimos e variações de nomes\n- Normalize datas relativas (\"amanhã\", \"próxima segunda\", etc)\n\n## EXEMPLOS\n\n**Entrada:** \"Quero agendar corte amanhã às 14h com João\"\n**Saída:**\n```json\n{\n  \"intencao\": \"agendar\",\n  \"servico\": \"Corte de Cabelo\",\n  \"profissional\": \"João\",\n  \"data\": \"2025-12-24\",\n  \"hora\": \"14:00\"\n}\n```\n\n**Entrada:** \"Que horas vocês abrem?\"\n**Saída:**\n```json\n{\n  \"intencao\": \"duvida\",\n  \"resposta\": \"Nossos horários de funcionamento são: ...\"\n}\n```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [1120, 300],
      "id": "agente-ia",
      "name": "Agente IA"
    },
    {
      "parameters": {
        "jsCode": "// Parseia o output do agente IA\nlet output = $json.output || '';\n\n// Remove markdown\noutput = output.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\n// Parse JSON\nlet dados;\ntry {\n  dados = JSON.parse(output);\n} catch (err) {\n  // Se não conseguiu parsear, retorna erro\n  return [{\n    json: {\n      erro: true,\n      mensagem: 'Não consegui entender. Pode reformular?',\n      output_original: output\n    }\n  }];\n}\n\n// Pega dados do contexto anterior\nconst contexto = $('Consolidar Contexto').item.json;\n\n// Match de profissional (se mencionado)\nlet profissional_id = null;\nlet profissional_nome = null;\n\nif (dados.profissional) {\n  const normalizar = (texto) => texto\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .trim();\n\n  const nomeNormalizado = normalizar(dados.profissional);\n  \n  // Busca match\n  const match = contexto.profissionais.find(p =>\n    normalizar(p.nome).includes(nomeNormalizado) ||\n    nomeNormalizado.includes(normalizar(p.nome))\n  );\n\n  if (match) {\n    profissional_id = match.id;\n    profissional_nome = match.nome;\n  }\n}\n\n// Se não encontrou profissional mas tem na lista, pega o primeiro\nif (!profissional_id && contexto.profissionais.length > 0) {\n  profissional_id = contexto.profissionais[0].id;\n  profissional_nome = contexto.profissionais[0].nome;\n}\n\n// Match de serviço\nlet servico_id = null;\nlet servico_nome = null;\n\nif (dados.servico) {\n  const normalizar = (texto) => texto.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n  const servicoNormalizado = normalizar(dados.servico);\n  \n  const match = contexto.servicos.find(s =>\n    normalizar(s.nome).includes(servicoNormalizado) ||\n    servicoNormalizado.includes(normalizar(s.nome))\n  );\n\n  if (match) {\n    servico_id = match.id;\n    servico_nome = match.nome;\n  }\n}\n\nreturn [{\n  json: {\n    // Dados originais\n    empresa_id: contexto.empresa_id,\n    telefone: contexto.telefone,\n    instance_name: contexto.instance_name,\n    message_id: contexto.message_id,\n    \n    // Dados extraídos pela IA\n    intencao: dados.intencao,\n    nome_cliente: dados.nome_cliente || contexto.nome_cliente,\n    \n    // Serviço\n    servico: dados.servico,\n    servico_id: servico_id,\n    servico_nome: servico_nome,\n    \n    // Profissional\n    profissional: dados.profissional,\n    profissional_id: profissional_id,\n    profissional_nome: profissional_nome,\n    \n    // Data/hora\n    data: dados.data,\n    hora: dados.hora,\n    \n    // Outros\n    observacoes: dados.observacoes || '',\n    resposta_ia: dados.resposta || '',\n    \n    // Flag de sucesso\n    dados_completos: !!(dados.intencao && servico_id && dados.data && dados.hora)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300],
      "id": "processar-output",
      "name": "Processar Output IA"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "intencao-agendar",
                    "leftValue": "={{ $json.intencao }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "intencao-cancelar",
                    "leftValue": "={{ $json.intencao }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "intencao-consultar",
                    "leftValue": "={{ $json.intencao }}",
                    "rightValue": "consultar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Consultar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1560, 300],
      "id": "router-intencao",
      "name": "Router por Intenção"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://seu-dominio.com/api/bot/processar/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"telefone\": \"{{ $json.telefone }}\",\n  \"mensagem_original\": \"{{ $('Consolidar Contexto').item.json.mensagem }}\",\n  \"intencao\": \"agendar\",\n  \"dados\": {\n    \"nome_cliente\": \"{{ $json.nome_cliente }}\",\n    \"servico\": \"{{ $json.servico }}\",\n    \"profissional_id\": {{ $json.profissional_id }},\n    \"data\": \"{{ $json.data }}\",\n    \"hora\": \"{{ $json.hora }}\",\n    \"observacoes\": \"{{ $json.observacoes }}\"\n  }\n}",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "empresa_id",
                "value": "={{ $json.empresa_id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 180],
      "id": "criar-agendamento",
      "name": "Criar Agendamento",
      "credentials": {
        "httpHeaderAuth": {
          "id": "django-api",
          "name": "Django API Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.axiodev.cloud/message/sendText/{{ $('Processar Output IA').item.json.instance_name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.telefone }}\",\n  \"text\": \"{{ $json.mensagem }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300],
      "id": "enviar-resposta",
      "name": "Enviar Resposta WhatsApp",
      "credentials": {
        "httpHeaderAuth": {
          "id": "evolution-api",
          "name": "Evolution API Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Mensagem processada' } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 300],
      "id": "response-webhook",
      "name": "Response - Webhook OK"
    },
    {
      "parameters": {
        "content": "## 🎯 Fluxo do Workflow\n\n1. **Webhook** recebe mensagem do WhatsApp\n2. **Normalizar** extrai dados importantes\n3. **Buscar APIs** pega profissionais, serviços, horários\n4. **Consolidar** monta contexto para a IA\n5. **Agente IA** processa mensagem e extrai intenção\n6. **Processar** faz match de profissional e serviço\n7. **Router** direciona por intenção (agendar/cancelar/consultar)\n8. **Criar Agendamento** chama API Django\n9. **Enviar Resposta** envia mensagem de volta\n10. **Response** confirma recebimento do webhook",
        "height": 400,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [240, 540],
      "typeVersion": 1,
      "id": "note-fluxo",
      "name": "🎯 Fluxo"
    },
    {
      "parameters": {
        "content": "## ⚠️ IMPORTANTE\n\n### Consultar Horários\nPara a intenção \"consultar\", adicione node:\n- HTTP POST /api/n8n/horarios-disponiveis/\n- Com: data, profissional_id, servico_id\n\n### Cancelar Agendamento\nPara a intenção \"cancelar\", adicione node:\n- HTTP POST /api/bot/processar/\n- Com: intencao: \"cancelar\", codigo: \"ABC123\"\n\n### Tratamento de Erros\nAdicione nodes \"OnError\" para:\n- API indisponível\n- Dados inválidos\n- Sem horários disponíveis\n\n### Testes\n1. Teste com mensagens simples\n2. Teste com todos os profissionais\n3. Teste datas inválidas\n4. Teste sem mencionar profissional",
        "height": 380,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1780, 540],
      "typeVersion": 1,
      "id": "note-importante",
      "name": "⚠️ Importante"
    }
  ],
  "connections": {
    "Webhook - Recebe Mensagem": {
      "main": [
        [
          {
            "node": "Normalizar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Dados": {
      "main": [
        [
          {
            "node": "Buscar Profissionais",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Servicos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Horarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Profissionais": {
      "main": [
        [
          {
            "node": "Consolidar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Servicos": {
      "main": [
        [
          {
            "node": "Consolidar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Horarios": {
      "main": [
        [
          {
            "node": "Consolidar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar Contexto": {
      "main": [
        [
          {
            "node": "Agente IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA": {
      "main": [
        [
          {
            "node": "Processar Output IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Output IA": {
      "main": [
        [
          {
            "node": "Router por Intenção",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router por Intenção": {
      "main": [
        [
          {
            "node": "Criar Agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Enviar Resposta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Agendamento": {
      "main": [
        [
          {
            "node": "Enviar Resposta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Resposta WhatsApp": {
      "main": [
        [
          {
            "node": "Response - Webhook OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "template-universal-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "axio-gestto-saas"
  },
  "id": "template-bot-universal",
  "tags": [
    {
      "createdAt": "2025-12-26T00:00:00.000Z",
      "updatedAt": "2025-12-26T00:00:00.000Z",
      "id": "1",
      "name": "Template"
    },
    {
      "createdAt": "2025-12-26T00:00:00.000Z",
      "updatedAt": "2025-12-26T00:00:00.000Z",
      "id": "2",
      "name": "WhatsApp"
    },
    {
      "createdAt": "2025-12-26T00:00:00.000Z",
      "updatedAt": "2025-12-26T00:00:00.000Z",
      "id": "3",
      "name": "SaaS"
    }
  ]
}
